nodered/flows.json
[{"id":"2be6d14.9dd5bae","type":"tab","label":"Device Discovery","disabled":false,"info":""},{"id":"36a19762.352b1","type":"ui_group","z":"","name":"List","tab":"d00f885.4d85b78","disp":false,"width":"20","collapse":false},{"id":"ad7dae2.f228cd","type":"mongodb2","z":"","uri":"mongodb://10.13.8.20:27017/inventory","name":"Inventory","options":"","parallelism":"-1"},{"id":"a2c42f4.361655","type":"Camera Account","z":"","name":"admin","protocol":"http"},{"id":"d00f885.4d85b78","type":"ui_tab","z":"","name":"Device Discovery","icon":"dashboard","disabled":false,"hidden":false},{"id":"7b92e86c.3cc72","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"daeeea9.63d9798","type":"mqtt-broker","z":"","name":"","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd6756f4.1677a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"23cd3638.35a1da","type":"ui_button","z":"2be6d14.9dd5bae","name":"Refresh","group":"36a19762.352b1","order":1,"width":"6","height":"1","passthru":false,"label":"Refresh Table","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":140,"y":200,"wires":[["432145b1.6c794c"]]},{"id":"bedbf0bb.96fb18","type":"ui_table","z":"2be6d14.9dd5bae","group":"36a19762.352b1","name":"","order":3,"width":"17","height":"9","columns":[{"field":"discoveryName","title":"UPnP/Bonjour","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"mqttClient","title":"MQTT Client","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"address","title":"Address","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"serial","title":"Serial","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":530,"y":240,"wires":[["7095cb80.8e535c"]]},{"id":"c8f92171.46e1a","type":"function","z":"2be6d14.9dd5bae","name":"Camera","func":"msg.payload = {\n    serial: msg.payload.serial,\n    address: msg.payload.address,\n    discoveryName: msg.payload.name,\n    port: msg.payload.port\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["f52a23c6.785ec"]]},{"id":"f52a23c6.785ec","type":"function","z":"2be6d14.9dd5bae","name":"Flow Discovey","func":"discovery = flow.get(\"discovery\")\nif( !discovery ) {\n    discovery = {}\n}\ndiscovery[msg.payload.serial] = msg.payload\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":100,"wires":[["ccbc8a3e.8eb38"]]},{"id":"ab46e522.d50c9","type":"function","z":"2be6d14.9dd5bae","name":"Camera","func":"if( msg.payload.connected === false )\n    return;\n    \nmsg.payload = {\n    serial: msg.payload.serial,\n    address: msg.payload.IPv4,\n    mqtt: msg.payload.client\n}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":100,"wires":[["f52a23c6.785ec"]]},{"id":"6eecfeb2.e5cfa8","type":"mqtt in","z":"2be6d14.9dd5bae","name":"","topic":"connect/#","qos":"2","datatype":"json","broker":"daeeea9.63d9798","x":140,"y":100,"wires":[["ab46e522.d50c9"]]},{"id":"7095cb80.8e535c","type":"ui_form","z":"2be6d14.9dd5bae","name":"","label":"","group":"36a19762.352b1","order":2,"width":"4","height":"7","options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Serial","value":"serial","type":"text","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null}],"formValue":{"name":"","serial":"","address":""},"payload":"","submit":"Deploy","cancel":"","topic":"","x":330,"y":300,"wires":[["9e88047e.ff9ce8"]]},{"id":"9e88047e.ff9ce8","type":"function","z":"2be6d14.9dd5bae","name":"Deploy","func":"edit = flow.get(\"edit\")\nif(!edit)\n    return\nmsg.deploy = msg.payload    \nmsg.user = msg.payload.user\nmsg.password = msg.payload.password\nmsg.address = edit.address;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[[]]},{"id":"6b332058.09307","type":"function","z":"2be6d14.9dd5bae","name":"Update","func":"msg.payload = [\n    { serial: msg.camera.serial },\n    {\n        '$set': {\n            name: msg.payload.name,\n            address: msg.payload.address,\n            serial: msg.payload.serial,\n            mqtt: msg.payload.mqtt\n        }\n    },\n    { upsert: true }\n];\nreturn msg;\n","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["2256ca41.65539e"]]},{"id":"2256ca41.65539e","type":"mongodb2 in","z":"2be6d14.9dd5bae","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"update","x":820,"y":300,"wires":[[]]},{"id":"5738e1f4.f8c81","type":"comment","z":"2be6d14.9dd5bae","name":"Refresh","info":"","x":750,"y":100,"wires":[]},{"id":"ccbc8a3e.8eb38","type":"link out","z":"2be6d14.9dd5bae","name":"","links":["f8ddeb2.0045298"],"x":675,"y":100,"wires":[]},{"id":"cac7d0b0.1490a8","type":"function","z":"2be6d14.9dd5bae","name":"Flow Discovey","func":"discovery = flow.get(\"discovery\")\nif( !discovery )\n    reuturn;\nmsg.payload = [];\nfor( var key in discovery )\n    msg.payload.push(discover[key]);\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["bedbf0bb.96fb18"]]},{"id":"f8ddeb2.0045298","type":"link in","z":"2be6d14.9dd5bae","name":"Refresh Table","links":["432145b1.6c794c","ccbc8a3e.8eb38","f11ffe23.39ae78"],"x":235,"y":240,"wires":[["cac7d0b0.1490a8"]]},{"id":"b2c61ca6.a191f8","type":"comment","z":"2be6d14.9dd5bae","name":"Refresh Table","info":"","x":150,"y":240,"wires":[]},{"id":"432145b1.6c794c","type":"link out","z":"2be6d14.9dd5bae","name":"","links":["8b85db38.a12df","f8ddeb2.0045298"],"x":295,"y":200,"wires":[]}]