nodered/flows.json
[{"id":"19cd60e1.920d9f","type":"tab","label":"Classification","disabled":false,"info":""},{"id":"f9de715e.214758","type":"tab","label":"Heatmap","disabled":false,"info":""},{"id":"25a0dbc5.267c04","type":"tab","label":"Add Camera","disabled":false,"info":""},{"id":"c67be6c.b53d618","type":"tab","label":"Tracker Settings","disabled":false,"info":""},{"id":"6a0f2e67.9f1bb","type":"tab","label":"Cameras","disabled":false,"info":""},{"id":"1c46a2d9.70cf85","type":"tab","label":"Database Management","disabled":false,"info":""},{"id":"95685e8d.cea508","type":"tab","label":"LOG","disabled":true,"info":""},{"id":"9711e189.bbcc7","type":"tab","label":"Stats","disabled":false,"info":""},{"id":"c83ee8f6.bf6a68","type":"subflow","name":"Camera Essentials","info":"","category":"","in":[{"x":140,"y":60,"wires":[{"id":"1c842d62.49b9cb"},{"id":"4162fd84.28625c"}]}],"out":[{"x":420,"y":420,"wires":[{"id":"8eab21cf.789938","port":0},{"id":"6c9c1194.efad9","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"36a19762.352b1","type":"ui_group","z":"","name":"List","tab":"","disp":false,"width":"16","collapse":false},{"id":"ad7dae2.f228cd","type":"mongodb2","z":"","uri":"mongodb://mongo:27017/inventory","name":"Inventory","options":"","parallelism":"-1"},{"id":"a2c42f4.361655","type":"Camera Account","z":"","name":"trackers","protocol":"http"},{"id":"daeeea9.63d9798","type":"mqtt-broker","z":"","name":"Local broker","broker":"broker","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cd6756f4.1677a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":49,"sy":50,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"26e044d6.da336c","type":"ui_spacer","name":"spacer","group":"36a19762.352b1","order":2,"width":"12","height":1},{"id":"fd17d3f8.e71e08","type":"ui_group","z":"","name":"Camera List","tab":"9a02fb67.7dcc08","disp":false,"width":"24","collapse":false},{"id":"9a02fb67.7dcc08","type":"ui_tab","z":"","name":"Cameras","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"dc6427f8.e4c6d","type":"ui_group","z":"","name":"Image","tab":"39fb8fa6.9d6d58","order":1,"disp":false,"width":"18","collapse":false},{"id":"39fb8fa6.9d6d58","type":"ui_tab","z":"","name":"Tracker Settings","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"4ccecf16.2dc51","type":"ui_spacer","name":"spacer","group":"dc6427f8.e4c6d","order":4,"width":"8","height":1},{"id":"112c54da.4b5953","type":"influxdb","z":"","hostname":"influx","port":"8086","protocol":"http","database":"trackers","name":"","usetls":false,"tls":"f2489315.5bd6a8"},{"id":"f2489315.5bd6a8","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"bed62ad0.72502","type":"ui_tab","z":"","name":"Forensic","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"ea091e5c.a78bf","type":"ui_group","z":"","name":"List","tab":"bed62ad0.72502","disp":false,"width":"18","collapse":false},{"id":"ca099c4a.4d97f8","type":"ui_tab","z":"","name":"Heatmap","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a13ddc34.95d77","type":"ui_group","z":"","name":"List","tab":"ca099c4a.4d97f8","disp":false,"width":"20","collapse":false},{"id":"b68be12c.880f48","type":"ui_spacer","name":"spacer","group":"a13ddc34.95d77","order":8,"width":"1","height":1},{"id":"e0555113.f59928","type":"ui_tab","z":"","name":"Add Camera","icon":"dashboard","disabled":false,"hidden":false},{"id":"9de93997.6e5258","type":"ui_group","z":"","name":"View","tab":"e0555113.f59928","disp":true,"width":"6","collapse":false},{"id":"a2dfcdf5.487358","type":"ui_tab","z":"","name":"Classifications","icon":"dashboard","disabled":false,"hidden":false},{"id":"ad79ff75.c1dc","type":"ui_group","z":"","name":"List","tab":"a2dfcdf5.487358","disp":true,"width":"20","collapse":false},{"id":"226c3aaa.4f590e","type":"ui_table","z":"6a0f2e67.9f1bb","group":"fd17d3f8.e71e08","name":"","order":1,"width":"19","height":"11","columns":[{"field":"name","title":"Name","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"agent.Version","title":"Agent","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"agent.Status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"agent.connected","title":"Connected","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"agent.client","title":"MQTT ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"agent.mote","title":"Tracking","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"agent.vod","title":"Classification","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":730,"y":520,"wires":[["40afe5df.cdfa2c"]]},{"id":"fabbcdf5.9a1df8","type":"ui_form","z":"6a0f2e67.9f1bb","name":"Edit","label":"MQTT Settings","group":"fd17d3f8.e71e08","order":6,"width":"4","height":"6","options":[{"label":"Client ID","value":"client","type":"text","required":true,"rows":null},{"label":"Broker","value":"address","type":"text","required":true,"rows":null},{"label":"Port","value":"port","type":"text","required":true,"rows":null},{"label":"User","value":"user","type":"text","required":false,"rows":null},{"label":"Password","value":"password","type":"password","required":false,"rows":null}],"formValue":{"client":"","address":"","port":"","user":"","password":""},"payload":"","submit":"SET","cancel":"","topic":"","x":330,"y":640,"wires":[["9656d40f.265cb8"]]},{"id":"40afe5df.cdfa2c","type":"function","z":"6a0f2e67.9f1bb","name":"Camera","func":"delete msg.payload._id\nflow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":520,"wires":[["b1c5766e.b22838"]]},{"id":"3ba1f141.c18e66","type":"link in","z":"6a0f2e67.9f1bb","name":"Refresh Camera Table","links":["507358b6.11bba8","950fccee.19223","65f9a20d.ef87dc","623a4143.d84e98","f0e445c.3757538","c69ec9f5.fb1e28","1612dd25.67cd23","bcda9b7f.c9ff08","fc93cf02.2f1df","4fde0bb4.b4bfa4","2e6f21b.c7945de"],"x":275,"y":520,"wires":[["7f4aeaf5.53457c"]]},{"id":"b1c5766e.b22838","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["2a443b2e.092624","be861565.77c6a8","a17b211a.4540b8","15de2666.585ee2","68710f0b.63973"],"x":995,"y":520,"wires":[]},{"id":"a3894271.4746b","type":"comment","z":"6a0f2e67.9f1bb","name":"Edit","info":"","x":1070,"y":520,"wires":[]},{"id":"2a443b2e.092624","type":"link in","z":"6a0f2e67.9f1bb","name":"Edit Camera","links":["b1c5766e.b22838"],"x":75,"y":640,"wires":[["a4e73c1a.9f34f"]]},{"id":"cc69582e.d7bca8","type":"ui_button","z":"6a0f2e67.9f1bb","name":"Delete","group":"fd17d3f8.e71e08","order":5,"width":"1","height":"1","passthru":false,"label":"","tooltip":"Remove the camera from inventory","color":"","bgcolor":"red","icon":"delete","payload":"","payloadType":"str","topic":"","x":370,"y":960,"wires":[["93adb630.f9a55"]]},{"id":"93adb630.f9a55","type":"function","z":"6a0f2e67.9f1bb","name":"Camera","func":"msg.camera = flow.get(\"camera\");\nif(!msg.camera) return;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":960,"wires":[["b158c2b9.46d4d","c28661a2.9916a8"]]},{"id":"c28661a2.9916a8","type":"function","z":"6a0f2e67.9f1bb","name":"Remove","func":"msg.payload = {\n    serial: msg.camera.serial\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":940,"wires":[["89c1cf34.f6ce28"]]},{"id":"89c1cf34.f6ce28","type":"mongodb2 in","z":"6a0f2e67.9f1bb","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"deleteOne","x":890,"y":940,"wires":[["950fccee.19223"]]},{"id":"950fccee.19223","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["3ba1f141.c18e66"],"x":1055,"y":940,"wires":[]},{"id":"c44e6201.a9cb58","type":"ui_dropdown","z":"c67be6c.b53d618","name":"Device Select","label":"","tooltip":"","place":"Select Camera...","group":"dc6427f8.e4c6d","order":2,"width":"4","height":"1","passthru":false,"options":[],"payload":"","topic":"","x":340,"y":100,"wires":[["142205da.f0815a"]]},{"id":"d77dd160.8ad5b","type":"mongodb2 in","z":"c67be6c.b53d618","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"aggregate.toArray","x":410,"y":60,"wires":[["13c507b3.8b18c8"]]},{"id":"13c507b3.8b18c8","type":"function","z":"c67be6c.b53d618","name":"Options","func":"msg.options = [];\nmsg.payload.forEach(function(item){\n    option = {}\n    option[item.name] = item\n    msg.options.push(option);\n})\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":60,"wires":[["c44e6201.a9cb58"]]},{"id":"f7615136.f76ee","type":"link in","z":"c67be6c.b53d618","name":"Reset Camera List","links":["462e3b3f.54e6e4","50c52b45.1759ec","a5e4396d.c0d678"],"x":215,"y":60,"wires":[["d77dd160.8ad5b"]]},{"id":"9cbae95f.47cf","type":"comment","z":"c67be6c.b53d618","name":"Reset Cameras","info":"","x":100,"y":60,"wires":[]},{"id":"49789f8f.cb7df","type":"link out","z":"c67be6c.b53d618","name":"Camera Selected","links":["8ac2621a.7b741","db80723.7a25b1"],"x":655,"y":100,"wires":[]},{"id":"bdd3f26c.8b3868","type":"Axis Camera","z":"c67be6c.b53d618","name":"","account":"a2c42f4.361655","address":"","action":"Image","data":"","format":"base64","x":490,"y":220,"wires":[["7f34138d.a066b4","d7e0f12d.feef8"]]},{"id":"7f34138d.a066b4","type":"ui_template","z":"c67be6c.b53d618","group":"dc6427f8.e4c6d","name":"Image","order":5,"width":"13","height":"13","format":"<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar tracker_settings_context = null;\nvar tracker_settings_image = null;\nvar tracker_settings_area = null;\nvar tracker_settings_x = 640;\nvar tracker_settings_y = 360;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        console.log(\"Image\");\n        if (!msg || msg.topic !== \"image\" )\n            return;\n        console.log( msg.camera.aspect );\n        switch( msg.camera.aspect ) {\n            case \"16:9\": tracker_settings_y = 360; break;\n            case \"4:3\":  tracker_settings_y = 480; break;\n            case \"1:1\":  tracker_settings_y = 640; break;\n        }\n\n        $(\"#view_\" + scope.$id).css(\"height\", tracker_settings_y + \"px\");\n        var canvas = document.getElementById(\"canvas_\"+scope.$id);\n        if( canvas )\n            tracker_settings_context = canvas.getContext(\"2d\");\n        tracker_settings_image = $(\"#image_\"+scope.$id);\n        $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n        if( tracker_settings_area ) {\n            tracker_settings_area.setOptions({ hide: true });\n            tracker_settings_area = null;\n        }\n    });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":670,"y":220,"wires":[[]]},{"id":"3fd5869e.b727da","type":"mqtt in","z":"c67be6c.b53d618","name":"","topic":"tracker/#","qos":"2","datatype":"json","broker":"daeeea9.63d9798","x":100,"y":300,"wires":[["f9f4f6f9.ed491"]]},{"id":"7b299ba3.5319f4","type":"ui_template","z":"c67be6c.b53d618","group":"dc6427f8.e4c6d","name":"Context","order":6,"width":"1","height":"1","format":"<script>\nvar ctx = null;\nvar canvas = null;\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n        if( msg.topic.split(\"/\")[0] !== \"tracker\" )\n            return;\n        if(!tracker_settings_context)\n            return;\n        var object = msg.payload;\n        tracker_settings_context.lineWidth = 3;\n        tracker_settings_context.strokeStyle = '#00FF00';\n        tracker_settings_context.beginPath();\n        tracker_settings_context.rect( object.x, object.y, object.w, object.h );\n        tracker_settings_context.stroke();\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":440,"y":300,"wires":[[]]},{"id":"8848c08e.6d6388","type":"function","z":"c67be6c.b53d618","name":"Address","func":"msg.topic = \"image\";\nmsg.camera = msg.payload\nmsg.address = msg.payload.address\naspect = msg.payload.aspect;\nmsg.payload = \"resolution=640x360\";\nif( aspect === \"4:3\" )\n    msg.payload = \"resolution=640x480\";\nif( aspect === \"1:1\" )\n    msg.payload = \"resolution=640x640\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["bdd3f26c.8b3868","c18a43d0.dab818"]]},{"id":"8ac2621a.7b741","type":"link in","z":"c67be6c.b53d618","name":"Image","links":["49789f8f.cb7df","7d3f5842.41473"],"x":235,"y":220,"wires":[["8848c08e.6d6388"]]},{"id":"8f4bddcc.5453b","type":"comment","z":"c67be6c.b53d618","name":"Reset Cameras","info":"","x":120,"y":220,"wires":[]},{"id":"142205da.f0815a","type":"function","z":"c67be6c.b53d618","name":"Flow Camera","func":"flow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":100,"wires":[["49789f8f.cb7df"]]},{"id":"f9f4f6f9.ed491","type":"function","z":"c67be6c.b53d618","name":"Filter","func":"camera = flow.get(\"camera\");\nif(!camera)\n    return;\nif( msg.topic.split(\"/\")[1] !== camera.mqtt )\n    return;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["7b299ba3.5319f4"]]},{"id":"84b0fde6.7ddcb","type":"ui_button","z":"c67be6c.b53d618","name":"","group":"dc6427f8.e4c6d","order":1,"width":"3","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":380,"wires":[["fccd8e57.ac4558"]]},{"id":"fccd8e57.ac4558","type":"function","z":"c67be6c.b53d618","name":"Reset","func":"msg.topic = \"reset\";\nflow.set(\"camera\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":380,"wires":[["89d3fdf2.a40e28"]]},{"id":"89d3fdf2.a40e28","type":"ui_template","z":"c67be6c.b53d618","group":"dc6427f8.e4c6d","name":"Context","order":7,"width":"1","height":"1","format":"<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg || msg.topic !== \"reset\" || !tracker_settings_image || !tracker_settings_context)\n            return;\n        if( tracker_settings_area ) {\n            tracker_settings_area.setOptions({ hide: true });\n            tracker_settings_area = null;\n        }\n        tracker_settings_image.attr(\"src\",\"\");\n        tracker_settings_context.beginPath();\n        tracker_settings_context.clearRect(0, 0, 1000, 1000 );\n        tracker_settings_context.stroke();        \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":440,"y":380,"wires":[["50c52b45.1759ec"]]},{"id":"50c52b45.1759ec","type":"link out","z":"c67be6c.b53d618","name":"","links":["f7615136.f76ee"],"x":535,"y":380,"wires":[]},{"id":"4f4cabd5.c872d4","type":"ui_button","z":"c67be6c.b53d618","name":"","group":"dc6427f8.e4c6d","order":3,"width":"3","height":"1","passthru":false,"label":"Flush","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"flush","x":90,"y":440,"wires":[["d937491e.8f6f38"]]},{"id":"d937491e.8f6f38","type":"ui_template","z":"c67be6c.b53d618","group":"dc6427f8.e4c6d","name":"Context","order":8,"width":"1","height":"1","format":"<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg || msg.topic !== \"flush\" || !tracker_settings_context )\n            return;\n        tracker_settings_context.beginPath();\n        tracker_settings_context.clearRect(0, 0, 1000, 1000 );\n        tracker_settings_context.stroke();        \n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":280,"y":440,"wires":[[]]},{"id":"db80723.7a25b1","type":"link in","z":"c67be6c.b53d618","name":"","links":["49789f8f.cb7df","7d3f5842.41473"],"x":235,"y":520,"wires":[["e2195fe8.b2b55"]]},{"id":"c9adbb80.a3bde8","type":"comment","z":"c67be6c.b53d618","name":"Edit","info":"","x":90,"y":520,"wires":[]},{"id":"e2195fe8.b2b55","type":"function","z":"c67be6c.b53d618","name":"Address","func":"msg.address = msg.payload.address\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":520,"wires":[["896ccbdb.130a58"]]},{"id":"896ccbdb.130a58","type":"Axis Camera","z":"c67be6c.b53d618","name":"","account":"a2c42f4.361655","address":"","action":"HTTP GET","data":"/local/tracker/settings","format":"json","x":510,"y":520,"wires":[["9863dd8b.1da548","a4375d88.a48fe8","7917435.9680bbc"]]},{"id":"9863dd8b.1da548","type":"function","z":"c67be6c.b53d618","name":"Error","func":"if(msg.error)\n    return msg;","outputs":1,"noerr":0,"x":690,"y":520,"wires":[["db6df6bb.883a3"]]},{"id":"a4375d88.a48fe8","type":"function","z":"c67be6c.b53d618","name":"Ok","func":"if(!msg.error)\n    return msg;","outputs":1,"noerr":0,"x":350,"y":560,"wires":[["8a719f27.09604","844169b1.3aa63"]]},{"id":"14571e88.564761","type":"ui_form","z":"c67be6c.b53d618","name":"","label":"Settings","group":"dc6427f8.e4c6d","order":8,"width":"5","height":"6","options":[{"label":"Min. sway (%)","value":"sway","type":"number","required":true,"rows":null},{"label":"Min. age (s)","value":"age","type":"number","required":true,"rows":null}],"formValue":{"sway":"","age":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":700,"y":600,"wires":[["5576c27a.e393fc"]]},{"id":"aba63812.6a8ed8","type":"ui_template","z":"c67be6c.b53d618","group":"dc6427f8.e4c6d","name":"Context","order":8,"width":"1","height":"1","format":"<script>\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg || !tracker_settings_context || !tracker_settings_image )\n            return;\n        console.log(\"Tracker Settings\");\n        \n        if( tracker_settings_area ) {\n            tracker_settings_area.setOptions({ hide: true });\n            tracker_settings_area = null;\n        }\n            \n        tracker_settings_area = tracker_settings_image.imgAreaSelect( {\n            x1: parseInt(msg.payload.tracker.x1 / 1000 * tracker_settings_x),\n            x2: parseInt(msg.payload.tracker.x2 / 1000 * tracker_settings_x),\n            y1: parseInt(msg.payload.tracker.y1 / 1000 * tracker_settings_y),\n            y2: parseInt(msg.payload.tracker.y2 / 1000 * tracker_settings_y),\n            show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n            onSelectEnd: function( image, area ) {\n                var zone = {\n                    x1: parseInt((area.x1/tracker_settings_x) * 1000),\n                    x2: parseInt((area.x2/tracker_settings_x) * 1000),\n                    y1: parseInt((area.y1/tracker_settings_y) * 1000),\n                    y2: parseInt((area.y2/tracker_settings_y) * 1000)\n                };\n                scope.send({\n                    topic: \"zone\",\n                    payload: zone\n                });\n            }\n        });\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":700,"y":560,"wires":[["61859e64.1923d8"]]},{"id":"db6df6bb.883a3","type":"debug","z":"c67be6c.b53d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":520,"wires":[]},{"id":"8a719f27.09604","type":"function","z":"c67be6c.b53d618","name":"Process","func":"if(msg.error)\n    return;\ntracker = msg.payload.tracker;\nflow.set(\"tracker\",tracker)\nmsg.payload = {\n    sway: tracker.sway / 10,\n    age: tracker.age / 1000,\n    speed: tracker.speed\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["14571e88.564761"]]},{"id":"844169b1.3aa63","type":"delay","z":"c67be6c.b53d618","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":510,"y":560,"wires":[["aba63812.6a8ed8"]]},{"id":"61859e64.1923d8","type":"function","z":"c67be6c.b53d618","name":"Flow Tracker","func":"tracker = flow.get(\"tracker\");\nif(!tracker)\n    return;\ntracker.x1 = msg.payload.x1\ntracker.x2 = msg.payload.x2\ntracker.y1 = msg.payload.y1\ntracker.y2 = msg.payload.y2\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":560,"wires":[[]]},{"id":"5576c27a.e393fc","type":"function","z":"c67be6c.b53d618","name":"Flow Tracker","func":"tracker = flow.get(\"tracker\");\nif(!tracker)\n    return;\ntracker.sway = parseInt(msg.payload.sway) * 10\ntracker.age = parseInt(msg.payload.age) * 1000\nmsg.payload = tracker;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":600,"wires":[["8a4f0044.4e044"]]},{"id":"8a4f0044.4e044","type":"function","z":"c67be6c.b53d618","name":"Address","func":"camera = flow.get(\"camera\");\nif(!camera)\n    return;\nvar data = JSON.stringify(msg.payload);\nmsg.address = camera.address;\nmsg.payload = \"/local/tracker/settings?set=tracker&json=\" + data;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":640,"wires":[["b7df1c2b.e2a97"]]},{"id":"b7df1c2b.e2a97","type":"Axis Camera","z":"c67be6c.b53d618","name":"","account":"a2c42f4.361655","address":"","action":"HTTP GET","data":"","format":"json","x":710,"y":640,"wires":[["4b5f21fe.aaa8c"]]},{"id":"4b5f21fe.aaa8c","type":"function","z":"c67be6c.b53d618","name":"Error","func":"if(msg.error)\n    return msg;","outputs":1,"noerr":0,"x":850,"y":640,"wires":[["4050135d.db0afc"]]},{"id":"4050135d.db0afc","type":"debug","z":"c67be6c.b53d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":640,"wires":[]},{"id":"6a886d14.4eeee4","type":"http request","z":"1c46a2d9.70cf85","name":"CREATE DATABASE trackers","method":"GET","ret":"obj","paytoqs":false,"url":"http://influx:8086/query?q=CREATE DATABASE trackers","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":80,"wires":[["ea6efd64.cda46"]]},{"id":"245f3cb1.c943b4","type":"http request","z":"1c46a2d9.70cf85","name":"CREATE RETENTION POLICY month","method":"GET","ret":"obj","paytoqs":false,"url":"http://influx:8086/query?q=CREATE RETENTION POLICY \"month\" ON trackers DURATION 4w REPLICATION 1 DEFAULT","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":120,"wires":[["6a7c5e19.005d7"]]},{"id":"27691a4d.17b7ae","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":80,"wires":[["6a886d14.4eeee4"]]},{"id":"ea6efd64.cda46","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":80,"wires":[]},{"id":"6a7c5e19.005d7","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":120,"wires":[]},{"id":"14822313.780bcd","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":120,"wires":[["245f3cb1.c943b4"]]},{"id":"77ef520b.fbe12c","type":"http request","z":"1c46a2d9.70cf85","name":"SHOW RETNETION POLICIES on trackers","method":"GET","ret":"obj","paytoqs":false,"url":"http://influx:8086/query?db=trackers&pretty=true&q=SHOW RETENTION POLICIES","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":200,"wires":[["3c152233.2d3076"]]},{"id":"88de0ad6.8139f8","type":"http request","z":"1c46a2d9.70cf85","name":"SHOW DATABASES","method":"GET","ret":"obj","paytoqs":false,"url":"http://influx:8086/query?q=SHOW DATABASES","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":160,"wires":[["40a03870.b735a"]]},{"id":"df747a81.b83e18","type":"http request","z":"1c46a2d9.70cf85","name":"SHOW MEASUREMENTS on trackers","method":"GET","ret":"obj","paytoqs":false,"url":"http://influx:8086/query?db=trackers&pretty=true&q=SHOW MEASUREMENTS","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":240,"wires":[["d77b1762.3ccd08"]]},{"id":"ee10ab46.f8488","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":160,"wires":[["88de0ad6.8139f8"]]},{"id":"40a03870.b735a","type":"function","z":"1c46a2d9.70cf85","name":"","func":"msg.payload = msg.payload.results[0].series[0].values;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["3b42e0c9.e1e098"]]},{"id":"3b42e0c9.e1e098","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":160,"wires":[]},{"id":"9b15c970.6e3778","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":200,"wires":[["77ef520b.fbe12c"]]},{"id":"3c152233.2d3076","type":"function","z":"1c46a2d9.70cf85","name":"","func":"msg.payload = msg.payload.results[0].series[0].values;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[["332e6f33.60cf28"]]},{"id":"332e6f33.60cf28","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":200,"wires":[]},{"id":"7b94b40.cbe304c","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":240,"wires":[["df747a81.b83e18"]]},{"id":"ea69a8cf.12682","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":240,"wires":[]},{"id":"d77b1762.3ccd08","type":"function","z":"1c46a2d9.70cf85","name":"","func":"if( !msg.payload.results[0].hasOwnProperty(\"series\") )\n    return [];\nif( msg.payload.results[0].series.length === 0 )\n    return [];\nif( !msg.payload.results[0].series[0].hasOwnProperty(\"values\") )\n    return [];\n\nmsg.payload = msg.payload.results[0].series[0].values;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":240,"wires":[["ea69a8cf.12682"]]},{"id":"61d2b5c1.509fec","type":"influxdb in","z":"1c46a2d9.70cf85","influxdb":"112c54da.4b5953","name":"","query":"SELECT * FROM events WHERE time > now() - 1h","rawOutput":false,"precision":"","retentionPolicy":"","x":540,"y":380,"wires":[["c43c4b6f.bf2ac"]]},{"id":"c43c4b6f.bf2ac","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":380,"wires":[]},{"id":"a170d9d0.2f6e6","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["61d2b5c1.509fec"]]},{"id":"ff3bf52e.1ede98","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["ee99d428.db327","ae156f82.301908"]]},{"id":"bd8385d5.2dd0b","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":280,"wires":[]},{"id":"92c4788f.73f208","type":"function","z":"1c46a2d9.70cf85","name":"","func":"msg.payload = msg.payload.results[0];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["bd8385d5.2dd0b"]]},{"id":"ee99d428.db327","type":"influxdb in","z":"1c46a2d9.70cf85","influxdb":"112c54da.4b5953","name":"","query":"DROP MEASUREMENT events","rawOutput":false,"precision":"","retentionPolicy":"","x":510,"y":280,"wires":[["bd8385d5.2dd0b"]]},{"id":"af4aac29.fb7","type":"ui_dropdown","z":"95685e8d.cea508","name":"","label":"","tooltip":"","place":"Select camera...","group":"ea091e5c.a78bf","order":2,"width":"3","height":"1","passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":820,"y":100,"wires":[["10df10c7.32ee57"]]},{"id":"82050b1.56eaa78","type":"ui_button","z":"95685e8d.cea508","name":"","group":"ea091e5c.a78bf","order":1,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":200,"y":40,"wires":[["ef14c621.4055"]]},{"id":"1b0b799e.7d1706","type":"mongodb2 in","z":"95685e8d.cea508","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"aggregate.toArray","x":410,"y":100,"wires":[["1fabaa4f.96f02e"]]},{"id":"1fabaa4f.96f02e","type":"function","z":"95685e8d.cea508","name":"Options","func":"msg.options = [];\nmsg.payload.forEach(function(item){\n    option = {}\n    option[item.name] = item\n    msg.options.push(option);\n})\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[["af4aac29.fb7"]]},{"id":"f5597ce5.886a1","type":"link in","z":"95685e8d.cea508","name":"Reset Camera List","links":["9749a184.8710f"],"x":215,"y":100,"wires":[["1b0b799e.7d1706"]]},{"id":"10df10c7.32ee57","type":"function","z":"95685e8d.cea508","name":"Flow Camera","func":"flow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":100,"wires":[[]]},{"id":"ef14c621.4055","type":"function","z":"95685e8d.cea508","name":"Reset","func":"flow.set(\"camera\");\nflow.set(\"time\");\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":40,"wires":[["9749a184.8710f"]]},{"id":"9749a184.8710f","type":"link out","z":"95685e8d.cea508","name":"Reset","links":["f5597ce5.886a1","957a1355.e23f68","34112da7.59f732","cc97515f.371b28"],"x":435,"y":40,"wires":[]},{"id":"cc2a484e.58c938","type":"comment","z":"95685e8d.cea508","name":"Reset","info":"","x":130,"y":100,"wires":[]},{"id":"c74246d4.4e82b8","type":"ui_dropdown","z":"95685e8d.cea508","name":"","label":"","tooltip":"","place":"Select time...","group":"ea091e5c.a78bf","order":3,"width":"3","height":"1","passthru":false,"options":[{"label":"Last Hour","value":"time > now() - 1h","type":"str"},{"label":"Last 3 hours","value":"time > now() - 3h","type":"str"},{"label":"Last 6 Hours","value":"time > now() - 6h","type":"str"},{"label":"Last 12 hours","value":"time > now() - 12h","type":"str"},{"label":"Last 24 hours","value":"time > now() - 1d","type":"str"},{"label":"Last 2 days","value":"time > now() - 2d","type":"str"},{"label":"Last 3 days","value":"time > now() - 3d","type":"str"},{"label":"Last 5 days","value":"time > now() - 5d","type":"str"},{"label":"Last week","value":"time > now() - 1w","type":"str"},{"label":"Last 2 weeks","value":"time > now() - 2w","type":"str"},{"label":"Last 4 weeks","value":"time > now() - 4w","type":"str"}],"payload":"","topic":"","x":320,"y":180,"wires":[["affae182.354e38"]]},{"id":"957a1355.e23f68","type":"link in","z":"95685e8d.cea508","name":"Reset Camera List","links":["9749a184.8710f"],"x":215,"y":180,"wires":[["c74246d4.4e82b8"]]},{"id":"a6fe4318.7a47b8","type":"comment","z":"95685e8d.cea508","name":"Reset","info":"","x":130,"y":180,"wires":[]},{"id":"affae182.354e38","type":"function","z":"95685e8d.cea508","name":"Flow Camera","func":"flow.set(\"time\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[[]]},{"id":"e28c0002.ad57c8","type":"ui_button","z":"95685e8d.cea508","name":"","group":"ea091e5c.a78bf","order":4,"width":"2","height":"1","passthru":false,"label":"Go","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":360,"wires":[["2909917.b14486e"]]},{"id":"2909917.b14486e","type":"function","z":"95685e8d.cea508","name":"Query","func":"camera = flow.get(\"camera\")\ntime = flow.get(\"time\")\nif( !camera || !time)\n    return;    \nmsg.query = 'SELECT localTime,age,distance,speed,vertical,horizontal FROM events WHERE camera=\\'' + camera.mqtt + '\\' AND ' + time\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":360,"wires":[["1ace548b.1fb87b"]]},{"id":"f3b1815.7e691","type":"debug","z":"95685e8d.cea508","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]},{"id":"1ace548b.1fb87b","type":"influxdb in","z":"95685e8d.cea508","influxdb":"112c54da.4b5953","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":510,"y":360,"wires":[["f3b1815.7e691","2a79d51b.5c4252"]]},{"id":"2a79d51b.5c4252","type":"ui_table","z":"95685e8d.cea508","group":"ea091e5c.a78bf","name":"","order":4,"width":"18","height":"10","columns":[{"field":"localTime","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"age","title":"Age","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distance","title":"Distance","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"horizontal","title":"Horizontal","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"vertical","title":"Vertical","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":710,"y":360,"wires":[]},{"id":"90d198ea.959af","type":"ui_dropdown","z":"95685e8d.cea508","name":"","label":"","tooltip":"","place":"Optional classification...","group":"ea091e5c.a78bf","order":3,"width":"3","height":"1","passthru":false,"options":[{"label":"Face","value":"face='true'","type":"str"},{"label":"Vehicle","value":"vehicle='true'","type":"str"},{"label":"Human","value":"human='true'","type":"str"}],"payload":"","topic":"","x":320,"y":240,"wires":[["b4455c36.dd8c6"]]},{"id":"34112da7.59f732","type":"link in","z":"95685e8d.cea508","name":"Reset Camera List","links":["9749a184.8710f"],"x":215,"y":240,"wires":[["90d198ea.959af"]]},{"id":"16257bd6.974a9c","type":"comment","z":"95685e8d.cea508","name":"Reset","info":"","x":130,"y":240,"wires":[]},{"id":"b4455c36.dd8c6","type":"function","z":"95685e8d.cea508","name":"Flow Camera","func":"flow.set(\"time\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[[]]},{"id":"cc97515f.371b28","type":"link in","z":"95685e8d.cea508","name":"Reset Camera List","links":["9749a184.8710f"],"x":455,"y":400,"wires":[["e1a37336.a3848"]]},{"id":"38c8aea0.99b412","type":"comment","z":"95685e8d.cea508","name":"Reset","info":"","x":370,"y":400,"wires":[]},{"id":"e1a37336.a3848","type":"function","z":"95685e8d.cea508","name":"reset","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":400,"wires":[["2a79d51b.5c4252"]]},{"id":"98dda9d7.86c2a","type":"function","z":"1c46a2d9.70cf85","name":"Query","func":"msg.url = \"http://influx:8086/query?db=trackers&pretty=true&q=\"\nmsg.url += 'SELECT * FROM events WHERE time > now() - 1h'\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["144f5e65.f61a1a"]]},{"id":"96a5710a.f98b88","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":500,"wires":[["98dda9d7.86c2a"]]},{"id":"144f5e65.f61a1a","type":"http request","z":"1c46a2d9.70cf85","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":500,"wires":[["e450cffc.45574"]]},{"id":"28411ccb.5d49f4","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":500,"wires":[]},{"id":"e450cffc.45574","type":"function","z":"1c46a2d9.70cf85","name":"","func":"if( !msg.payload.results || msg.payload.results.length === 0 ) {\n    msg.payload = [];\n    return msg;\n}\n\nif( !msg.payload.results[0].hasOwnProperty(\"series\") || msg.payload.results[0].series.length === 0){\n    msg.payload = [];\n    return msg;\n}\ncolumns = msg.payload.results[0].series[0].columns;\nvalues = msg.payload.results[0].series[0].values;\nlist = [];\nvalues.forEach(function(item){\n    data = {};\n    for( var i = 0; columns.length; i++ ) {\n        data[columns[i]] = item[i];\n    }\n    list.push(data);\n})\nmsg.payload = list;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["28411ccb.5d49f4"]]},{"id":"7917435.9680bbc","type":"debug","z":"c67be6c.b53d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":460,"wires":[]},{"id":"ae156f82.301908","type":"influxdb in","z":"1c46a2d9.70cf85","influxdb":"112c54da.4b5953","name":"","query":"DROP MEASUREMENT images","rawOutput":false,"precision":"","retentionPolicy":"","x":520,"y":320,"wires":[["92c4788f.73f208"]]},{"id":"21d970f1.dbdae8","type":"influxdb in","z":"1c46a2d9.70cf85","influxdb":"112c54da.4b5953","name":"","query":"SELECT * FROM images WHERE time > now() - 1h","rawOutput":false,"precision":"","retentionPolicy":"","x":540,"y":420,"wires":[["2fab003d.42cc1"]]},{"id":"2fab003d.42cc1","type":"debug","z":"1c46a2d9.70cf85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":420,"wires":[]},{"id":"952e4219.c9f628","type":"inject","z":"1c46a2d9.70cf85","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["21d970f1.dbdae8"]]},{"id":"1559689b.06cb1f","type":"ui_dropdown","z":"f9de715e.214758","name":"Camera","label":"","tooltip":"","place":"Camera...","group":"a13ddc34.95d77","order":2,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":780,"y":140,"wires":[["5255f4eb.e6902c"]]},{"id":"abe427c2.00aa28","type":"ui_button","z":"f9de715e.214758","name":"","group":"a13ddc34.95d77","order":1,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":90,"y":80,"wires":[["4679f093.74d918"]]},{"id":"cfd3851c.d2501","type":"mongodb2 in","z":"f9de715e.214758","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"aggregate.toArray","x":370,"y":140,"wires":[["c2a3ea8f.6397c"]]},{"id":"c2a3ea8f.6397c","type":"function","z":"f9de715e.214758","name":"Options","func":"msg.options = [];\nmsg.payload.forEach(function(item){\n    option = {}\n    option[item.name] = item\n    msg.options.push(option);\n})\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":140,"wires":[["1559689b.06cb1f"]]},{"id":"5f2ea0e4.b0808","type":"link in","z":"f9de715e.214758","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8"],"x":175,"y":140,"wires":[["cfd3851c.d2501"]]},{"id":"5255f4eb.e6902c","type":"function","z":"f9de715e.214758","name":"Flow Camera","func":"msg.topic = \"camera\"\nflow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":140,"wires":[["72d84881.1b9968"]]},{"id":"4679f093.74d918","type":"function","z":"f9de715e.214758","name":"Reset","func":"flow.set(\"camera\");\nflow.set(\"clock\");\nflow.set(\"birth\");\nflow.set(\"death\");\nflow.set(\"class\");\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":80,"wires":[["6c0d9fb9.953de"]]},{"id":"6c0d9fb9.953de","type":"link out","z":"f9de715e.214758","name":"Reset","links":["5f2ea0e4.b0808","9294fc4c.263b58","11127b3b.12db75","5c173d66.084aa4","a5717504.0fa3d","c7941eaf.801a2","839c93b5.d7e48","79d57dc1.3e5ed4","b2f52c8d.8f541"],"x":415,"y":80,"wires":[]},{"id":"b003efaa.4bc0d8","type":"comment","z":"f9de715e.214758","name":"Reset","info":"","x":90,"y":140,"wires":[]},{"id":"e685f50a.b775d","type":"ui_dropdown","z":"f9de715e.214758","name":"Period","label":"","tooltip":"","place":"Period...","group":"a13ddc34.95d77","order":3,"width":"3","height":"1","passthru":false,"options":[{"label":"Last Hour","value":"time > now() - 1h","type":"str"},{"label":"Last 3 hours","value":"time > now() - 3h","type":"str"},{"label":"Last 6 Hours","value":"time > now() - 6h","type":"str"},{"label":"Last 12 hours","value":"time > now() - 12h","type":"str"},{"label":"Last 24 hours","value":"time > now() - 1d","type":"str"},{"label":"Last 2 days","value":"time > now() - 2d","type":"str"},{"label":"Last 3 days","value":"time > now() - 3d","type":"str"},{"label":"Last 5 days","value":"time > now() - 5d","type":"str"},{"label":"Last week","value":"time > now() - 1w","type":"str"},{"label":"Last 2 weeks","value":"time > now() - 2w","type":"str"},{"label":"Last 4 weeks","value":"time > now() - 4w","type":"str"}],"payload":"","topic":"","x":270,"y":460,"wires":[["47594471.9c76b4"]]},{"id":"9294fc4c.263b58","type":"link in","z":"f9de715e.214758","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8"],"x":175,"y":460,"wires":[["e685f50a.b775d"]]},{"id":"fdc756ec.7633f","type":"comment","z":"f9de715e.214758","name":"Reset","info":"","x":90,"y":460,"wires":[]},{"id":"47594471.9c76b4","type":"function","z":"f9de715e.214758","name":"Flow Camera","func":"flow.set(\"time\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[[]]},{"id":"c4ff338d.82e3e8","type":"ui_button","z":"f9de715e.214758","name":"","group":"a13ddc34.95d77","order":7,"width":"2","height":"1","passthru":false,"label":"Go","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":320,"wires":[["c54f22fd.fcc868"]]},{"id":"c54f22fd.fcc868","type":"function","z":"f9de715e.214758","name":"Query","func":"camera = flow.get(\"camera\")\ntime = flow.get(\"time\")\nif( !camera || !time)\n    return;    \nmsg.query = 'SELECT * FROM events WHERE camera=\\'' + camera.mqtt + '\\' AND ' + time\n\nvar clock = flow.get(\"clock\")\nif( clock ) {\n    switch(clock) {\n        case 'morning': msg.query += ' AND \"clock\" > 21600 AND \"clock\" <= 36000'; break;\n        case 'mid': msg.query += ' AND \"clock\" > 36000 AND \"clock\" <= 50400'; break;\n        case 'afternoon': msg.query += ' AND \"clock\" > 50400 AND \"clock\" <= 64800'; break;\n        case 'dinner': msg.query += ' AND \"clock\" > 64800 AND \"clock\" <= 79200'; break;\n        case 'night': msg.query += ' AND (\"clock\" > 79200 OR \"clock\" <= 21600 )'; break;\n    }\n}\n\nvar birth = flow.get(\"birth\");\nif( birth ) {\n    msg.query += ' AND \"bx\" > ' + birth.x1;\n    msg.query += ' AND \"bx\" < ' + birth.x2;\n    msg.query += ' AND \"by\" > ' + birth.y1;\n    msg.query += ' AND \"by\" < ' + birth.y2;\n}\n\nvar death = flow.get(\"death\");\nif( death ) {\n    msg.query += ' AND \"cx\" > ' + death.x1;\n    msg.query += ' AND \"cx\" < ' + death.x2;\n    msg.query += ' AND \"cy\" > ' + death.y1;\n    msg.query += ' AND \"cy\" < ' + death.y2;\n}\n\nvar type = flow.get(\"class\");\nif( type ) {\n    msg.query += ' AND \"' + type + '\" = \\'true\\'';\n}\n\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":320,"wires":[["f137dcc1.f5482"]]},{"id":"f137dcc1.f5482","type":"influxdb in","z":"f9de715e.214758","influxdb":"112c54da.4b5953","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":430,"y":320,"wires":[["561cbe7c.2133b8","ef71fd62.67978"]]},{"id":"1fbafe2c.e115b2","type":"ui_dropdown","z":"f9de715e.214758","name":"Clock","label":"","tooltip":"","place":"Clock...","group":"a13ddc34.95d77","order":4,"width":"3","height":"1","passthru":false,"options":[{"label":"06:00-10:00","value":"morning","type":"str"},{"label":"10:00-14:00","value":"mid","type":"str"},{"label":"14:00-18:00","value":"afternoon","type":"str"},{"label":"18:00-22:00","value":"dinner","type":"str"},{"label":"22:00-06:00","value":"night","type":"str"},{"label":"Any time","value":"any","type":"str"}],"payload":"","topic":"","x":270,"y":520,"wires":[["a76bafa6.9b9778"]]},{"id":"11127b3b.12db75","type":"link in","z":"f9de715e.214758","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8"],"x":175,"y":520,"wires":[["1fbafe2c.e115b2"]]},{"id":"1e2b1edd.22f0f1","type":"comment","z":"f9de715e.214758","name":"Reset","info":"","x":90,"y":520,"wires":[]},{"id":"a76bafa6.9b9778","type":"function","z":"f9de715e.214758","name":"Flow Clock","func":"flow.set(\"clock\",msg.payload);\nif(msg.payload === \"any\")\n    flow.set(\"clock\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":520,"wires":[[]]},{"id":"5c173d66.084aa4","type":"link in","z":"f9de715e.214758","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8"],"x":875,"y":100,"wires":[["77c155ba.6ab234"]]},{"id":"6815e393.a40024","type":"comment","z":"f9de715e.214758","name":"Reset","info":"","x":810,"y":100,"wires":[]},{"id":"77c155ba.6ab234","type":"function","z":"f9de715e.214758","name":"reset","func":"msg.payload = \"\"\nmsg.topic = \"image\"\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":100,"wires":[["72d84881.1b9968"]]},{"id":"72d84881.1b9968","type":"ui_template","z":"f9de715e.214758","group":"a13ddc34.95d77","name":"Image","order":10,"width":"13","height":"13","format":"<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar heatmap_context = null;\nvar heatmap_image = null;\nvar heatmap_x = 640;\nvar heatmap_y = 360;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        console.log(\"Image\");\n        console.log(scope.$id);\n        if (!msg )\n            return;\n        if( msg.topic === \"camera\") {\n            var camera = msg.payload;\n            switch( camera.aspect ) {\n                case \"16:9\": heatmap_y = 360; break;\n                case \"4:3\":  heatmap_y = 480; break;\n                case \"1:1\":  heatmap_y = 640; break;\n            }\n            if( heatmap_area ) {\n                heatmap_area.setOptions({ hide: true });\n                heatmap_area = null;\n            }\n    \n            $(\"#view_\" + scope.$id).css(\"height\", heatmap_y + \"px\");\n            var canvas = document.getElementById(\"canvas_\"+scope.$id);\n            if( canvas )\n                heatmap_context = canvas.getContext(\"2d\");\n            heatmap_image = $(\"#image_\"+scope.$id);\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + camera.image);\n            if( heatmap_area ) {\n                heatmap_area.setOptions({ hide: true });\n                heatmap_area = null;\n            }\n        }\n        \n        if( msg.topic === \"image\") {\n            if( heatmap_area ) {\n                heatmap_area.setOptions({ hide: true });\n                heatmap_area = null;\n            }\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n        }\n\n        if( msg.topic === \"BoundingBox\" && heatmap_context !== null) {\n            var box = msg.payload;\n        \theatmap_context.beginPath();\n        \theatmap_context.strokeStyle = \"#FFFF00\";\n            heatmap_context.rect( box.bx, box.by, box.bw, box.bh ); \n        \theatmap_context.stroke();\n        }\n        \n    });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1110,"y":140,"wires":[[]]},{"id":"561cbe7c.2133b8","type":"ui_template","z":"f9de715e.214758","group":"a13ddc34.95d77","name":"Context - Heatmap","order":12,"width":"1","height":"1","format":"<script>\nvar ctx = null;\nvar canvas = null;\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n        if( heatmap_area ) {\n            heatmap_area.setOptions({ hide: true });\n            heatmap_area = null;\n        }\n            \n        if(!heatmap_context)\n            return;\n        heatmap_context.beginPath();\n        heatmap_context.clearRect(0, 0, 1000, 1000 );\n        heatmap_context.stroke();\n            \n        var list = msg.payload;\n\n    \theatmap_context.strokeStyle = \"#FFFFFF\";\n    \theatmap_context.lineWidth = 2;\n    \theatmap_context.beginPath();\n        list.forEach(function(item){\n        \theatmap_context.moveTo(item.bcx, item.bcy );\n    \t    heatmap_context.arc( item.bcx, item.bcy, 6, 0, 2 * Math.PI);\n        \theatmap_context.lineTo(item.pcx, item.pcy );\n        \theatmap_context.lineTo(item.cx, item.cy );\n        })\n    \theatmap_context.stroke();\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":950,"y":320,"wires":[[]]},{"id":"d7e0f12d.feef8","type":"debug","z":"c67be6c.b53d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":180,"wires":[]},{"id":"c18a43d0.dab818","type":"debug","z":"c67be6c.b53d618","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":180,"wires":[]},{"id":"ef71fd62.67978","type":"ui_table","z":"f9de715e.214758","group":"a13ddc34.95d77","name":"","order":11,"width":"4","height":"11","columns":[{"field":"localTime","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":410,"y":360,"wires":[["ced8a955.573228","fecb8a1e.cc19f"]]},{"id":"ced8a955.573228","type":"function","z":"f9de715e.214758","name":"Query","func":"msg.query = 'SELECT * FROM images WHERE camera=\\'' + msg.payload.camera + '\\' AND birth=' + msg.payload.birth\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["c7306a06.ec86e"]]},{"id":"c7306a06.ec86e","type":"influxdb in","z":"f9de715e.214758","influxdb":"112c54da.4b5953","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":360,"wires":[["40deb667.58b7"]]},{"id":"a5717504.0fa3d","type":"link in","z":"f9de715e.214758","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8"],"x":155,"y":360,"wires":[["339b8510.749be2"]]},{"id":"7476539a.3c05ec","type":"comment","z":"f9de715e.214758","name":"Reset","info":"","x":90,"y":360,"wires":[]},{"id":"339b8510.749be2","type":"function","z":"f9de715e.214758","name":"reset","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":360,"wires":[["ef71fd62.67978"]]},{"id":"3691c0d8.df98e8","type":"link in","z":"f9de715e.214758","name":"","links":["79fa5799.d2e0d","d6f47b1d.e11c98","a82c81a3.a85c2","25b3a42e.63ebc4"],"x":995,"y":180,"wires":[["72d84881.1b9968"]]},{"id":"40deb667.58b7","type":"function","z":"f9de715e.214758","name":"Image","func":"if(msg.payload.length === 0)\n    return;\nmsg.payload = msg.payload[0].image;    \nmsg.topic = \"image\"\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":360,"wires":[["79fa5799.d2e0d"]]},{"id":"bf2d3607.fb5948","type":"comment","z":"f9de715e.214758","name":"Overlay","info":"","x":910,"y":180,"wires":[]},{"id":"79fa5799.d2e0d","type":"link out","z":"f9de715e.214758","name":"","links":["3691c0d8.df98e8","a4efd046.f8f768"],"x":1015,"y":360,"wires":[]},{"id":"fecb8a1e.cc19f","type":"function","z":"f9de715e.214758","name":"BoundingBox","func":"msg.topic = \"BoundingBox\"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["d6f47b1d.e11c98"]]},{"id":"d5810028.17f1a8","type":"function","z":"f9de715e.214758","name":"Query","func":"camera = flow.get(\"camera\")\ntime = flow.get(\"time\")\nif( !camera || !time)\n    return;    \nmsg.query = 'SELECT localTime,birth,cx,cy,bx FROM events WHERE camera=\\'parking\\' AND time < now()-6h'\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":720,"wires":[["85ddb8ac.86e618"]]},{"id":"85ddb8ac.86e618","type":"influxdb in","z":"f9de715e.214758","influxdb":"112c54da.4b5953","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":720,"wires":[["5e8baccd.d1c9d4"]]},{"id":"8584bd4c.3cddb","type":"inject","z":"f9de715e.214758","name":"TEST","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":720,"wires":[["d5810028.17f1a8"]]},{"id":"5e8baccd.d1c9d4","type":"debug","z":"f9de715e.214758","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":720,"wires":[]},{"id":"d6f47b1d.e11c98","type":"link out","z":"f9de715e.214758","name":"","links":["3691c0d8.df98e8","a4efd046.f8f768"],"x":695,"y":400,"wires":[]},{"id":"d1f1b353.58dce","type":"ui_button","z":"f9de715e.214758","name":"","group":"a13ddc34.95d77","order":5,"width":"2","height":"1","passthru":false,"label":"Birth","tooltip":"","color":"","bgcolor":"","icon":"tab_unselected","payload":"","payloadType":"str","topic":"birth","x":90,"y":640,"wires":[["46e6dbbf.02d07c"]]},{"id":"271b42e5.0f5166","type":"ui_button","z":"f9de715e.214758","name":"","group":"a13ddc34.95d77","order":6,"width":"2","height":"1","passthru":false,"label":"Death","tooltip":"","color":"","bgcolor":"","icon":"tab_unselected","payload":"","payloadType":"str","topic":"death","x":90,"y":680,"wires":[["46e6dbbf.02d07c"]]},{"id":"46e6dbbf.02d07c","type":"ui_template","z":"f9de715e.214758","group":"a13ddc34.95d77","name":"Area Selection","order":9,"width":"1","height":"1","format":"<script>\nvar heatmap_area = null;\nvar heatmap_birth = {x1: 200,y1: 200,x2: 800,y2: 800}\nvar heatmap_death = {x1: 200,y1: 200,x2: 800,y2: 800}\nvar heatmap_selection = null;\nvar heatmap_selection_name = null;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg || !heatmap_context || !heatmap_image )\n            return;\n        console.log(\"Birth & Death\");\n        if( heatmap_area ) {\n            heatmap_area.setOptions({ hide: true });\n            heatmap_area = null;\n        }\n        heatmap_selection = null;\n        if( msg.topic === \"birth\")\n            heatmap_selection = heatmap_birth\n        if( msg.topic === \"death\")\n            heatmap_selection = heatmap_death\n        if( heatmap_selection === null )\n            return;\n        heatmap_selection_name = msg.topic;\n        heatmap_area = heatmap_image.imgAreaSelect( {\n            x1: parseInt(heatmap_selection.x1 / 1000 * heatmap_x),\n            x2: parseInt(heatmap_selection.x2 / 1000 * heatmap_x),\n            y1: parseInt(heatmap_selection.y1 / 1000 * heatmap_y),\n            y2: parseInt(heatmap_selection.y2 / 1000 * heatmap_y),\n            show: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n            onSelectEnd: function( image, area ) {\n                if( heatmap_selection === null )\n                    return;\n                heatmap_selection.x1 = parseInt((area.x1/heatmap_x) * 1000);\n                heatmap_selection.x2 = parseInt((area.x2/heatmap_x) * 1000);\n                heatmap_selection.y1 = parseInt((area.y1/heatmap_y) * 1000);\n                heatmap_selection.y2 = parseInt((area.y2/heatmap_y) * 1000);\n                scope.send({\n                    topic: heatmap_selection_name,\n                    payload: heatmap_selection\n                });\n            }\n        });\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":340,"y":640,"wires":[["95e80cb1.ab57d"]]},{"id":"95e80cb1.ab57d","type":"function","z":"f9de715e.214758","name":"Flow Set","func":"flow.set(msg.topic,msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":640,"wires":[[]]},{"id":"fcfa9486.da1db8","type":"ui_ui_control","z":"f9de715e.214758","name":"","events":"change","x":100,"y":40,"wires":[["4679f093.74d918"]]},{"id":"7e8509d5.6a6fc8","type":"ui_dropdown","z":"f9de715e.214758","name":"Class","label":"","tooltip":"","place":"Class...","group":"a13ddc34.95d77","order":4,"width":"3","height":"1","passthru":false,"options":[{"label":"Unclassified","value":"object","type":"str"},{"label":"Human","value":"human","type":"str"},{"label":"Vehicle","value":"vehicle","type":"str"},{"label":"Face","value":"face","type":"str"},{"label":"Any type","value":"any","type":"str"}],"payload":"","topic":"","x":270,"y":580,"wires":[["1fb8e141.e4a897"]]},{"id":"c7941eaf.801a2","type":"link in","z":"f9de715e.214758","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8"],"x":175,"y":580,"wires":[["7e8509d5.6a6fc8"]]},{"id":"b08d5855.85931","type":"comment","z":"f9de715e.214758","name":"Reset","info":"","x":90,"y":580,"wires":[]},{"id":"1fb8e141.e4a897","type":"function","z":"f9de715e.214758","name":"Flow Class","func":"flow.set(\"class\",msg.payload);\nif(msg.payload === \"any\")\n    flow.set(\"class\");\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":580,"wires":[[]]},{"id":"839c93b5.d7e48","type":"link in","z":"f9de715e.214758","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8"],"x":655,"y":280,"wires":[["1693909b.beede7"]]},{"id":"89e68370.861af8","type":"comment","z":"f9de715e.214758","name":"Reset","info":"","x":590,"y":280,"wires":[]},{"id":"1693909b.beede7","type":"function","z":"f9de715e.214758","name":"[]","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["561cbe7c.2133b8"]]},{"id":"a795903c.8a723","type":"ui_form","z":"25a0dbc5.267c04","name":"","label":"","group":"9de93997.6e5258","order":0,"width":"5","height":"10","options":[{"label":"Address [IP or FQDN]","value":"address","type":"text","required":true,"rows":null},{"label":"Device password [root]","value":"root","type":"password","required":true,"rows":null},{"label":"Friendly Name","value":"name","type":"text","required":true,"rows":null}],"formValue":{"address":"","root":"","name":""},"payload":"","submit":"Add","cancel":"cancel","topic":"","x":310,"y":120,"wires":[["d3996e8a.6d7448"]]},{"id":"a5ec33cc.80154","type":"Axis Camera","z":"25a0dbc5.267c04","name":"","account":"a2c42f4.361655","address":"","action":"Set Account","data":"","format":"default","x":950,"y":360,"wires":[["c038b94a.0dc42","cfab76c3.065b8"]]},{"id":"d3996e8a.6d7448","type":"function","z":"25a0dbc5.267c04","name":"Camera","func":"msg.userInput = msg.payload;\n\nmsg.user = \"root\"\nmsg.password = msg.payload.root;\nmsg.address = msg.payload.address;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":180,"wires":[["8b69f26d.cccb78"]]},{"id":"922dfbb0.3d66a","type":"function","z":"25a0dbc5.267c04","name":"Account & Password","func":"msg.payload = {\n  user: \"trackers\",\n  password: msg.payload,\n  privileges: \"Administrator\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":300,"wires":[["a5ec33cc.80154"]]},{"id":"c038b94a.0dc42","type":"ui_toast","z":"25a0dbc5.267c04","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1210,"y":360,"wires":[]},{"id":"7bc693dc.ad737c","type":"function","z":"25a0dbc5.267c04","name":"Error","func":"if( msg.error === false)\n    return;\nmsg.camera = msg.payload;\nmsg.camera.name = msg.userInput.name\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["680cd7da.6e704"]]},{"id":"1aedc510.997c33","type":"ui_ui_control","z":"25a0dbc5.267c04","name":"","events":"change","x":180,"y":60,"wires":[["46a29000.37bc2"]]},{"id":"46a29000.37bc2","type":"function","z":"25a0dbc5.267c04","name":"Reset","func":"flow.set(\"trackers\");\nmsg.payload = {\n    name: \"\",\n    root: \"\",\n    address: \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":120,"wires":[["a795903c.8a723"]]},{"id":"680cd7da.6e704","type":"ui_toast","z":"25a0dbc5.267c04","position":"top right","displayTime":"5","highlight":"red","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":830,"y":180,"wires":[]},{"id":"d1da1649.14f65","type":"template","z":"25a0dbc5.267c04","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n<body>\n    <img src=\"data:image/jpeg;base64, {{payload.image}}\" width=\"160\" height=\"90\">\n    <table>\n        <tr><td>Name</td><td style=\"color:yellow;\">{{camera.name}}</td></tr>\n        <tr><td>Model</td><td style=\"color:yellow;\">{{camera.model}}</td></tr>\n        <tr><td>Serial</td><td style=\"color:yellow;\">{{camera.serial}}</td></tr>\n    </table>\n</body>\n</html>\n","output":"str","x":340,"y":240,"wires":[["134d1dc9.2eea6a"]]},{"id":"134d1dc9.2eea6a","type":"ui_toast","z":"25a0dbc5.267c04","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Add","cancel":"Cancel","raw":true,"topic":"","name":"","x":510,"y":240,"wires":[["7ca4d463.2f7b0c"]]},{"id":"7ca4d463.2f7b0c","type":"function","z":"25a0dbc5.267c04","name":"Add?","func":"if( msg.payload === \"Add\") {\n    msg.payload = \"A new account will be created in the device. Set defined application password\"\n    return msg;\n}","outputs":1,"noerr":0,"x":170,"y":300,"wires":[["aa1abb64.e4dca","50bc673b.213af8"]]},{"id":"639b87f0.6d5bf","type":"ui_toast","z":"25a0dbc5.267c04","position":"prompt","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"CANCEL","raw":false,"topic":"","name":"Tracker Password","x":610,"y":340,"wires":[["b4efec23.44443"]]},{"id":"b4efec23.44443","type":"function","z":"25a0dbc5.267c04","name":"Add?","func":"if(msg.payload === \"CANCEL\")\n    return;\nflow.set(\"trackers\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":340,"wires":[["922dfbb0.3d66a"]]},{"id":"cfab76c3.065b8","type":"function","z":"25a0dbc5.267c04","name":"Update","func":"if( msg.error )\n    return;\n    \nmsg.payload = [\n    { serial: msg.camera.serial },\n    {\n        '$set': msg.camera\n    },\n    { upsert: true }\n];\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":400,"wires":[["653b0c6.3b05274"]]},{"id":"653b0c6.3b05274","type":"mongodb2 in","z":"25a0dbc5.267c04","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"updateOne","x":1350,"y":400,"wires":[[]]},{"id":"2227d3af.029c0c","type":"ui_ui_control","z":"6a0f2e67.9f1bb","name":"","events":"change","x":140,"y":60,"wires":[["f1a66c9e.ab3e78"]]},{"id":"f1a66c9e.ab3e78","type":"function","z":"6a0f2e67.9f1bb","name":"Cameras Tab Selected?","func":"if( msg.payload === \"change\" && msg.name === \"Cameras\")\n    return msg;","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["2e6f21b.c7945de","23e9cfa3.7831b8"]]},{"id":"a4e73c1a.9f34f","type":"function","z":"6a0f2e67.9f1bb","name":"Edit","func":"msg.camera = msg.payload;\nmsg.payload = {\n    camera: msg.payload.address,\n    client: msg.payload.agent.client,\n    address: msg.payload.agent.address,\n    port: msg.payload.agent.port,\n    user: msg.payload.agent.user,\n    password: msg.payload.agent.password\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":640,"wires":[["fabbcdf5.9a1df8"]]},{"id":"aa1abb64.e4dca","type":"function","z":"25a0dbc5.267c04","name":"Password already set","func":"trackers = flow.get(\"trackers\");\nif( trackers ) {\n    msg.payload = trackers;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":380,"y":300,"wires":[["922dfbb0.3d66a"]]},{"id":"50bc673b.213af8","type":"function","z":"25a0dbc5.267c04","name":"Password not set","func":"if( !msg.hasOwnProperty(\"user\") )\n    return;\ntrackers = flow.get(\"trackers\");\nif( !trackers )\n    return msg;\n","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["639b87f0.6d5bf"]]},{"id":"9656d40f.265cb8","type":"function","z":"6a0f2e67.9f1bb","name":"/local/tracker/settings?set=mqtt","func":"camera = flow.get(\"camera\");\nif( !camera )\n    return;\nif( camera.agent.installed === false )\n    return;\n    \nmsg.mqtt = {\n    host: msg.payload.address,\n    id: msg.payload.client,\n    port: msg.payload.port,\n    username: msg.payload.user,\n    password: msg.payload.password,\n    tls: false,\n    connected: false,\n    pretopic: \"\"\n}\nmsg.address = msg.payload.camera;\nmsg.payload = '/local/tracker/settings?set=mqtt&json=' + JSON.stringify(msg.mqtt)\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":640,"wires":[["58f4a493.35b1f4"]]},{"id":"58f4a493.35b1f4","type":"Axis Camera","z":"6a0f2e67.9f1bb","name":"","account":"a2c42f4.361655","address":"","action":"HTTP GET","data":"","format":"default","x":350,"y":700,"wires":[["c094ec96.feabc8"]]},{"id":"c094ec96.feabc8","type":"function","z":"6a0f2e67.9f1bb","name":"OK -> Upadate","func":"if(msg.error)\n    return;\nif(msg.payload !== '\"OK\"')\n    return;\nmsg.payload = [\n    {address:msg.address},\n    {\n        $set:{\n            \"agent.address\": msg.mqtt.host,\n            \"agent.client\": msg.mqtt.id,\n            \"agent.port\": msg.mqtt.port,\n//            \"agent.connected\": false,\n            \"agent.user\": msg.mqtt.username,\n            \"agent.password\": msg.mqtt.password\n        }\n    }\n]\nreturn msg;\n","outputs":1,"noerr":0,"x":550,"y":700,"wires":[["b7e66b29.ccb038"]]},{"id":"b7e66b29.ccb038","type":"mongodb2 in","z":"6a0f2e67.9f1bb","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"updateOne","x":790,"y":700,"wires":[["623a4143.d84e98"]]},{"id":"623a4143.d84e98","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["3ba1f141.c18e66"],"x":975,"y":700,"wires":[]},{"id":"f2b2f311.a71da8","type":"ui_button","z":"6a0f2e67.9f1bb","name":"Install Agent","group":"fd17d3f8.e71e08","order":4,"width":"1","height":"1","passthru":false,"label":"","tooltip":"Installs/updates the agent in camera","color":"","bgcolor":"blue","icon":"file_download","payload":"","payloadType":"str","topic":"","x":390,"y":1060,"wires":[["873cdbee.f6e9e8"]]},{"id":"873cdbee.f6e9e8","type":"function","z":"6a0f2e67.9f1bb","name":"Camera","func":"msg.camera = flow.get(\"camera\");\nif(!msg.camera) return;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1120,"wires":[["a541b725.dcb378"]]},{"id":"a541b725.dcb378","type":"file in","z":"6a0f2e67.9f1bb","name":"version","filename":"/files/version","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":540,"y":1120,"wires":[["a88396f5.f0a5","1107a8b1.56edf7"]]},{"id":"a88396f5.f0a5","type":"function","z":"6a0f2e67.9f1bb","name":"Different version?","func":"var version = msg.payload.trim();\nif( version !== msg.camera.agent.Version ) {\n    msg.payload = \"Installing version \" + version + \" in \" + msg.camera.name;\n    msg.address = msg.camera.address;\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":1120,"wires":[["77e8b397.b5617c","59752bb0.81decc"]]},{"id":"1107a8b1.56edf7","type":"function","z":"6a0f2e67.9f1bb","name":"Same version?","func":"var version = msg.payload.trim();\nif( version === msg.camera.agent.Version ) {\n    msg.payload = \"Version \" + version + \" is already installed on \" + msg.camera.name;\n    return msg;\n}    ","outputs":1,"noerr":0,"x":720,"y":1080,"wires":[["77e8b397.b5617c"]]},{"id":"af8ed859.7f1a98","type":"Axis Camera","z":"6a0f2e67.9f1bb","name":"","account":"a2c42f4.361655","address":"","action":"Remove ACAP","data":"tracker","format":"default","x":1120,"y":980,"wires":[[]]},{"id":"b158c2b9.46d4d","type":"function","z":"6a0f2e67.9f1bb","name":"Address","func":"msg.payload = \"Remove Agent?\"\nmsg.address = msg.camera.address;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":980,"wires":[["ad8084b7.a86e78"]]},{"id":"32ad2b64.0b5afc","type":"function","z":"6a0f2e67.9f1bb","name":"Address","func":"msg.addres = msg.camera.address;\nmsg.payload = \"/files/\" + msg.camera.platform + \".eap\"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1200,"wires":[["9d035bd2.993dc8"]]},{"id":"9d035bd2.993dc8","type":"Axis Camera","z":"6a0f2e67.9f1bb","name":"","account":"a2c42f4.361655","address":"","action":"Install ACAP","data":"","format":"default","x":670,"y":1200,"wires":[["863d976e.4ed5c"]]},{"id":"863d976e.4ed5c","type":"function","z":"6a0f2e67.9f1bb","name":"Parse","func":"if( msg.error)\n    return;\n\nmsg.camera.agent = {\n    client: \"\",\n    version: \"\",\n    status: \"No agent\",\n    connected: false,\n    installed: false,\n    address: \"\",\n    port: \"\",\n    mote: false,\n    vod: false\n};\n\nmsg.payload.forEach(function(acap){\n    if(acap.Name === \"tracker\") {\n        msg.camera.agent = {\n            client: \"\",\n            version: acap.Version,\n            status: acap.Status,\n            connected: false,\n            installed: true,\n            address: \"\",\n            port: \"\",\n            user: \"\",\n            password: \"\",\n            mote: false,\n            vod: false\n        }\n    }\n    \n})\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":1260,"wires":[["aaf9b733.b36ef8"]]},{"id":"d9f48c13.d13ce8","type":"Axis Camera","z":"6a0f2e67.9f1bb","name":"","account":"a2c42f4.361655","address":"","action":"Start ACAP","data":"trackers","format":"default","x":670,"y":1260,"wires":[["3748912b.af1ad6"]]},{"id":"f59d10e5.d84218","type":"function","z":"6a0f2e67.9f1bb","name":"Reset","func":"flow.set(\"camera\");\nmsg.payload = {\n    camera: \"\",\n    client: \"\",\n    address: \"\",\n    port: \"\",\n    user: \"\",\n    password: \"\"\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":600,"wires":[["fabbcdf5.9a1df8"]]},{"id":"2e6f21b.c7945de","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["328e805a.10738","d39cd766.5ceeb","3ba1f141.c18e66","4fe8aaad.bdaf5c","76b507fe.a5e1d","3f0450f7.4c48c8","7e8099be.bc1368"],"x":520,"y":60,"wires":[]},{"id":"328e805a.10738","type":"link in","z":"6a0f2e67.9f1bb","name":"","links":["2e6f21b.c7945de"],"x":80,"y":600,"wires":[["f59d10e5.d84218"]]},{"id":"ec004dd7.411cb","type":"Axis Camera","z":"c83ee8f6.bf6a68","name":"Properties","account":"a2c42f4.361655","address":"","action":"Get Properties","data":"properties","format":"default","x":420,"y":180,"wires":[["db01d645.5288a","514903e8.daf6ac"]]},{"id":"db01d645.5288a","type":"function","z":"c83ee8f6.bf6a68","name":"Parse","func":"if(msg.error)\n    return;\n\nmsg.camera.serial = msg.payload.System.SerialNumber;\nmsg.camera.platform = msg.payload.System.Architecture;\nmsg.camera.chip = msg.payload.System.Soc;\nmsg.camera.firmware = msg.payload.Firmware.Version;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["d60e171c.73b24"]]},{"id":"b97a9e61.5596c","type":"Axis Camera","z":"c83ee8f6.bf6a68","name":"Brand/model","account":"a2c42f4.361655","address":"","action":"Get Properties","data":"brand","format":"default","x":290,"y":120,"wires":[["3f5fb98d.54fc4e","dcba0696.4d74e8"]]},{"id":"3f5fb98d.54fc4e","type":"function","z":"c83ee8f6.bf6a68","name":"Parse","func":"if(msg.error)\n    return;\n\nmsg.camera.model = msg.payload.ProdNbr;\nmsg.camera.type = msg.payload.ProdType;\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":180,"wires":[["ec004dd7.411cb"]]},{"id":"d60e171c.73b24","type":"Axis Camera","z":"c83ee8f6.bf6a68","name":"Network","account":"a2c42f4.361655","address":"","action":"Get Properties","data":"network","format":"default","x":420,"y":240,"wires":[["1eff445a.da885c","cb571092.ed8fe"]]},{"id":"1eff445a.da885c","type":"function","z":"c83ee8f6.bf6a68","name":"Parse","func":"if(msg.error)\n    return;\n\nmsg.camera.mac = msg.payload.eth0.MACAddress\n//msg.camera.hostName = msg.payload.VolatileHostName.HostName\nmsg.camera.ipv4 = msg.payload.eth0.IPAddress\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["f8b43644.3c0878"]]},{"id":"f8b43644.3c0878","type":"Axis Camera","z":"c83ee8f6.bf6a68","name":"Sensor","account":"a2c42f4.361655","address":"","action":"Get Properties","data":"ImageSource.I0","format":"default","x":420,"y":300,"wires":[["6fb5dd02.14992c","bfa404fe.2f0c9"]]},{"id":"58c0681c.1c283","type":"Axis Camera","z":"c83ee8f6.bf6a68","name":"","account":"a2c42f4.361655","address":"","action":"Image","data":"","format":"base64","x":410,"y":360,"wires":[["8eab21cf.789938","882e35ee.28de3"]]},{"id":"8eab21cf.789938","type":"function","z":"c83ee8f6.bf6a68","name":"Parse","func":"if(msg.error)\n    return;\nmsg.camera.image = msg.payload;\nmsg.payload = msg.camera;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":420,"wires":[[]]},{"id":"bfa404fe.2f0c9","type":"function","z":"c83ee8f6.bf6a68","name":"Parse","func":"if( msg.error)\n    return;\n\nmsg.camera.acaps = {};\n\n//The Camera respons with an object if only one acap\nif( !Array.isArray( msg.payload ) )\n    msg.payload = [msg.payload];\n\nmsg.payload.forEach(function(acap){\n    msg.camera.acaps[acap.Name] =  acap;\n})\n\nmsg.payload = \"resolution=640x360\"\nif( msg.camera.aspect === \"4:3\" )\n    msg.payload = \"resolution=640x480\"\nif( msg.camera.aspect === \"1:1\" )\n    msg.payload = \"resolution=640x640\"\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["58c0681c.1c283"]]},{"id":"1c842d62.49b9cb","type":"function","z":"c83ee8f6.bf6a68","name":"Initiate","func":"if( !msg.hasOwnProperty(\"address\") ) {\n    msg.error = true;\n    return msg;\n}\n\nmsg.camera = {\n    address: msg.address\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["b97a9e61.5596c","7f2ba75a.c942e"]]},{"id":"dcba0696.4d74e8","type":"function","z":"c83ee8f6.bf6a68","name":"Error","func":"if( msg.error ) {\n//    msg.payload = \"Unable to read brand properties from \" + msg.address\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":120,"wires":[["c58039f5.cfce1"]]},{"id":"514903e8.daf6ac","type":"function","z":"c83ee8f6.bf6a68","name":"Error","func":"if( msg.error ) {\n    msg.payload = \"Unable to read properties from \" + msg.address\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["c58039f5.cfce1"]]},{"id":"cb571092.ed8fe","type":"function","z":"c83ee8f6.bf6a68","name":"Error","func":"if( msg.error ) {\n    msg.payload = \"Unable to read network properties from \" + msg.address\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["c58039f5.cfce1"]]},{"id":"6fb5dd02.14992c","type":"function","z":"c83ee8f6.bf6a68","name":"Error","func":"if( msg.error ) {\n    msg.payload = \"Unable to read sensor properties from \" + msg.address\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":300,"wires":[["c58039f5.cfce1"]]},{"id":"882e35ee.28de3","type":"function","z":"c83ee8f6.bf6a68","name":"Error","func":"if( msg.error ) {\n    msg.payload = \"Unable to get Image snapshot  from \" + msg.address\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":360,"wires":[["c58039f5.cfce1"]]},{"id":"c58039f5.cfce1","type":"link out","z":"c83ee8f6.bf6a68","name":"","links":["6c9c1194.efad9"],"x":755,"y":60,"wires":[]},{"id":"3331341a.2b0de4","type":"comment","z":"c83ee8f6.bf6a68","name":"Error","info":"","x":830,"y":60,"wires":[]},{"id":"6c9c1194.efad9","type":"link in","z":"c83ee8f6.bf6a68","name":"","links":["c58039f5.cfce1"],"x":335,"y":480,"wires":[[]]},{"id":"49e4a35b.6d5c2c","type":"comment","z":"c83ee8f6.bf6a68","name":"Error","info":"","x":270,"y":480,"wires":[]},{"id":"7f2ba75a.c942e","type":"function","z":"c83ee8f6.bf6a68","name":"Error","func":"if( msg.error ) {\n    msg.payload = \"msg.address was not set\";\n    return msg;\n}","outputs":1,"noerr":0,"x":630,"y":60,"wires":[["c58039f5.cfce1"]]},{"id":"8b69f26d.cccb78","type":"subflow:c83ee8f6.bf6a68","z":"25a0dbc5.267c04","name":"","env":[],"x":370,"y":180,"wires":[["7bc693dc.ad737c","ab519a7a.bd60f8"]]},{"id":"a1ec5ace.0f987","type":"function","z":"6a0f2e67.9f1bb","name":"Address","func":"delete msg.payload._id;\nmsg.camera = msg.payload;\nmsg.camera.agent = null;\nmsg.address = msg.camera.address;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":180,"wires":[["272221d4.6af086"]]},{"id":"272221d4.6af086","type":"Axis Camera","z":"6a0f2e67.9f1bb","name":"List ACAP","account":"a2c42f4.361655","address":"","action":"List ACAP","data":"","format":"default","x":440,"y":180,"wires":[["f6f4f262.5563e","6244250b.b01af4"]]},{"id":"f74b3f95.d0b4e","type":"function","z":"6a0f2e67.9f1bb","name":"Installed And running","func":"if( msg.camera.agent && msg.camera.agent.Status === \"Running\" )\n    return msg;\n\n","outputs":1,"noerr":0,"x":920,"y":180,"wires":[["579d404d.6ba0e"]]},{"id":"579d404d.6ba0e","type":"Axis Camera","z":"6a0f2e67.9f1bb","name":"Tracker Settings","account":"a2c42f4.361655","address":"","action":"HTTP GET","data":"/local/tracker/settings","format":"json","x":1140,"y":180,"wires":[["3ece90de.a4282","2fe478e6.38be5"]]},{"id":"3ece90de.a4282","type":"function","z":"6a0f2e67.9f1bb","name":"Parse","func":"if(msg.error)\n    return;\n\nmsg.camera.agent.client = msg.payload.mqtt.id\nmsg.camera.agent.connected = msg.payload.mqtt.connected\nmsg.camera.agent.address = msg.payload.mqtt.host\nmsg.camera.agent.port = msg.payload.mqtt.port\nmsg.camera.agent.user = msg.payload.mqtt.username\nmsg.camera.agent.password = msg.payload.mqtt.password\nmsg.camera.agent.mote = msg.payload.mote.active\nmsg.camera.agent.vod = msg.payload.vod.active\n\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":180,"wires":[["6b6ed88d.781c98"]]},{"id":"65e92942.cf20e","type":"comment","z":"25a0dbc5.267c04","name":"Reset form to remove password","info":"","x":430,"y":60,"wires":[]},{"id":"4162fd84.28625c","type":"function","z":"c83ee8f6.bf6a68","name":"","func":"node.warn(msg)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":20,"wires":[[]]},{"id":"ab519a7a.bd60f8","type":"function","z":"25a0dbc5.267c04","name":"OK","func":"if( msg.error )\n    return;\nmsg.camera = msg.payload;    \nmsg.camera.name = msg.userInput.name    \n    \nreturn msg;","outputs":1,"noerr":0,"x":170,"y":240,"wires":[["d1da1649.14f65"]]},{"id":"4acd491.4292eb8","type":"mongodb2 in","z":"6a0f2e67.9f1bb","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"aggregate.toArray","x":510,"y":120,"wires":[["7e442c22.ebb03c"]]},{"id":"23e9cfa3.7831b8","type":"function","z":"6a0f2e67.9f1bb","name":"Initiate","func":"flow.set(\"cameras\",[]);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["4acd491.4292eb8"]]},{"id":"f6f4f262.5563e","type":"function","z":"6a0f2e67.9f1bb","name":"Parse Agent ACAP","func":"if( msg.error === false ) {\n    msg.camera.agent = null;    \n    msg.payload.forEach(function(acap) {\n        if( acap.Name === \"tracker\" )\n            msg.camera.agent = acap;\n    })\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":180,"wires":[["d342e7a2.116918","f74b3f95.d0b4e"]]},{"id":"71aa4e1a.597e48","type":"inject","z":"6a0f2e67.9f1bb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":20,"wires":[["2e6f21b.c7945de"]]},{"id":"d342e7a2.116918","type":"function","z":"6a0f2e67.9f1bb","name":"Not Installed or stopped","func":"if( !msg.camera.agent || msg.camera.agent.Status !== \"Running\" )\n    return msg;\n","outputs":1,"noerr":0,"x":920,"y":220,"wires":[["6b6ed88d.781c98"]]},{"id":"7e442c22.ebb03c","type":"function","z":"6a0f2e67.9f1bb","name":"ForEach","func":"//Needed for assynchronous request for multiple cameras\nmsg.payload.forEach( function(camera) {\n    node.send({\n        payload: JSON.parse(JSON.stringify(camera))\n    })\n})\n","outputs":1,"noerr":0,"x":790,"y":120,"wires":[["a1ec5ace.0f987"]]},{"id":"a138b84f.68cd7","type":"trigger","z":"6a0f2e67.9f1bb","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"500","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":770,"y":300,"wires":[["4fde0bb4.b4bfa4"]]},{"id":"ad8084b7.a86e78","type":"ui_toast","z":"6a0f2e67.9f1bb","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":980,"wires":[["305bc1a3.bed106"]]},{"id":"6b6ed88d.781c98","type":"function","z":"6a0f2e67.9f1bb","name":"Update","func":"msg.payload = [\n    {serial: msg.camera.serial},\n    {\n        $set: {\n            agent: msg.camera.agent\n        }\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["e3b1c5b7.a0769"]]},{"id":"e3b1c5b7.a0769","type":"mongodb2 in","z":"6a0f2e67.9f1bb","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"updateOne","x":530,"y":300,"wires":[["a138b84f.68cd7"]]},{"id":"7f4aeaf5.53457c","type":"mongodb2 in","z":"6a0f2e67.9f1bb","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"aggregate.toArray","x":480,"y":520,"wires":[["226c3aaa.4f590e"]]},{"id":"4fde0bb4.b4bfa4","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["3ba1f141.c18e66"],"x":895,"y":300,"wires":[]},{"id":"6c212321.0bd4b4","type":"comment","z":"6a0f2e67.9f1bb","name":"Refresh Table","info":"","x":160,"y":520,"wires":[]},{"id":"92563a4a.04e038","type":"inject","z":"6a0f2e67.9f1bb","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":480,"wires":[["7f4aeaf5.53457c"]]},{"id":"305bc1a3.bed106","type":"function","z":"6a0f2e67.9f1bb","name":"OK","func":"if( msg.payload === \"OK\")\n    return msg;","outputs":1,"noerr":0,"x":970,"y":980,"wires":[["af8ed859.7f1a98"]]},{"id":"39e99878.30fe88","type":"ui_template","z":"6a0f2e67.9f1bb","group":"fd17d3f8.e71e08","name":"Camera Name","order":2,"width":"5","height":"1","format":"<h2>{{msg.payload.name}}</h2>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":340,"y":760,"wires":[[]]},{"id":"be861565.77c6a8","type":"link in","z":"6a0f2e67.9f1bb","name":"","links":["b1c5766e.b22838"],"x":75,"y":760,"wires":[["39e99878.30fe88"]]},{"id":"ba6ddbc3.a7eb08","type":"function","z":"6a0f2e67.9f1bb","name":"Reset","func":"msg.payload = {\n    name: \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":800,"wires":[["39e99878.30fe88"]]},{"id":"4fe8aaad.bdaf5c","type":"link in","z":"6a0f2e67.9f1bb","name":"","links":["2e6f21b.c7945de"],"x":75,"y":800,"wires":[["ba6ddbc3.a7eb08"]]},{"id":"db58ee3c.db2f1","type":"ui_button","z":"6a0f2e67.9f1bb","name":"Refresh","group":"fd17d3f8.e71e08","order":3,"width":"1","height":"1","passthru":false,"label":"","tooltip":"Refresh information from camera","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":380,"y":880,"wires":[["74fd3b04.6ac06c"]]},{"id":"7e8099be.bc1368","type":"link in","z":"6a0f2e67.9f1bb","name":"","links":["2e6f21b.c7945de"],"x":75,"y":860,"wires":[["852cba69.8a563"]]},{"id":"852cba69.8a563","type":"function","z":"6a0f2e67.9f1bb","name":"Disabled","func":"msg.enabled = false;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":860,"wires":[["db58ee3c.db2f1","cc69582e.d7bca8","f2b2f311.a71da8"]]},{"id":"189f2a7c.721106","type":"function","z":"6a0f2e67.9f1bb","name":"Enabled","func":"msg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":900,"wires":[["db58ee3c.db2f1","cc69582e.d7bca8","f2b2f311.a71da8"]]},{"id":"68710f0b.63973","type":"link in","z":"6a0f2e67.9f1bb","name":"","links":["b1c5766e.b22838"],"x":75,"y":900,"wires":[["189f2a7c.721106"]]},{"id":"c4c577b9.77aeb","type":"link in","z":"6a0f2e67.9f1bb","name":"","links":["210f9c8d.6d3fac","2e1bf79f.1d4cc"],"x":155,"y":180,"wires":[["a1ec5ace.0f987"]]},{"id":"74fd3b04.6ac06c","type":"function","z":"6a0f2e67.9f1bb","name":"Camera","func":"msg.camera = flow.get(\"camera\");\nif(!msg.camera) return;\nmsg.address = msg.camera.address;\nmsg.payload = msg.camera;\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":880,"wires":[["210f9c8d.6d3fac","251dc8c6.ef3838"]]},{"id":"210f9c8d.6d3fac","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["c4c577b9.77aeb"],"x":655,"y":880,"wires":[]},{"id":"251dc8c6.ef3838","type":"debug","z":"6a0f2e67.9f1bb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"camera","targetType":"msg","x":710,"y":840,"wires":[]},{"id":"aaf9b733.b36ef8","type":"trigger","z":"6a0f2e67.9f1bb","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":500,"y":1260,"wires":[["d9f48c13.d13ce8"]]},{"id":"77e8b397.b5617c","type":"ui_toast","z":"6a0f2e67.9f1bb","position":"top right","displayTime":"5","highlight":"green","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":950,"y":1080,"wires":[]},{"id":"59752bb0.81decc","type":"function","z":"6a0f2e67.9f1bb","name":"Update","func":"msg.payload = [\n    {serial: msg.camera.serial},\n    {\n        $set:{\n            \"agent.Status\":\"Installing...\"\n        }\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1160,"wires":[["32ad2b64.0b5afc","3983a0b1.7d28f8"]]},{"id":"3983a0b1.7d28f8","type":"mongodb2 in","z":"6a0f2e67.9f1bb","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"updateOne","x":610,"y":1160,"wires":[["c69ec9f5.fb1e28"]]},{"id":"c69ec9f5.fb1e28","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["3ba1f141.c18e66"],"x":855,"y":1160,"wires":[]},{"id":"2e1bf79f.1d4cc","type":"link out","z":"6a0f2e67.9f1bb","name":"","links":["c4c577b9.77aeb"],"x":1075,"y":1260,"wires":[]},{"id":"3748912b.af1ad6","type":"trigger","z":"6a0f2e67.9f1bb","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"6","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":840,"y":1260,"wires":[["bf22570b.bc7ce"]]},{"id":"bf22570b.bc7ce","type":"function","z":"6a0f2e67.9f1bb","name":"Camera","func":"msg.payload = msg.camera;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1260,"wires":[["2e1bf79f.1d4cc"]]},{"id":"6cbed96f.843158","type":"inject","z":"9711e189.bbcc7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":120,"wires":[[]]},{"id":"b106d70c.959aa","type":"ui_dropdown","z":"19cd60e1.920d9f","name":"Camera","label":"","tooltip":"","place":"Camera...","group":"ad79ff75.c1dc","order":2,"width":"3","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":840,"y":180,"wires":[["237d3ba7.0d2314"]]},{"id":"87a3aa1c.e41fa8","type":"ui_button","z":"19cd60e1.920d9f","name":"","group":"ad79ff75.c1dc","order":1,"width":"1","height":"1","passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"","x":150,"y":120,"wires":[["34bd2ffe.144cf"]]},{"id":"57bc9934.4a6238","type":"mongodb2 in","z":"19cd60e1.920d9f","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"aggregate.toArray","x":430,"y":180,"wires":[["d4aa18bc.0e7eb8"]]},{"id":"d4aa18bc.0e7eb8","type":"function","z":"19cd60e1.920d9f","name":"Options","func":"msg.options = [];\nmsg.payload.forEach(function(item){\n    option = {}\n    option[item.name] = item\n    msg.options.push(option);\n})\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["b106d70c.959aa"]]},{"id":"17465235.a2496e","type":"link in","z":"19cd60e1.920d9f","name":"Reset Camera List","links":["65d4e1b3.58ef58","b7a2ee4f.8498b8"],"x":235,"y":180,"wires":[["57bc9934.4a6238"]]},{"id":"237d3ba7.0d2314","type":"function","z":"19cd60e1.920d9f","name":"Flow Camera","func":"msg.topic = \"camera\"\nflow.set(\"camera\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":180,"wires":[["94cce989.a529d8"]]},{"id":"34bd2ffe.144cf","type":"function","z":"19cd60e1.920d9f","name":"Reset","func":"flow.set(\"camera\");\nflow.set(\"clock\");\nflow.set(\"birth\");\nflow.set(\"death\");\nflow.set(\"class\");\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["65d4e1b3.58ef58"]]},{"id":"65d4e1b3.58ef58","type":"link out","z":"19cd60e1.920d9f","name":"Reset","links":["17465235.a2496e","60a9e59.972339c","79d57dc1.3e5ed4","a114497d.6d3a1","a44295a5.a69a58","b2f52c8d.8f541","f46297b7.b67f6"],"x":475,"y":120,"wires":[]},{"id":"2f0463cd.37725c","type":"comment","z":"19cd60e1.920d9f","name":"Reset","info":"","x":150,"y":180,"wires":[]},{"id":"f46297b7.b67f6","type":"link in","z":"19cd60e1.920d9f","name":"Reset Camera List","links":["65d4e1b3.58ef58","b7a2ee4f.8498b8"],"x":935,"y":140,"wires":[["a83f0973.90da18"]]},{"id":"ead03eee.f0661","type":"comment","z":"19cd60e1.920d9f","name":"Reset","info":"","x":870,"y":140,"wires":[]},{"id":"a83f0973.90da18","type":"function","z":"19cd60e1.920d9f","name":"reset","func":"msg.payload = \"\"\nmsg.topic = \"image\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":140,"wires":[["94cce989.a529d8"]]},{"id":"94cce989.a529d8","type":"ui_template","z":"19cd60e1.920d9f","group":"ad79ff75.c1dc","name":"Image","order":10,"width":"13","height":"13","format":"<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar heatmap_context = null;\nvar heatmap_image = null;\nvar heatmap_x = 640;\nvar heatmap_y = 360;\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        console.log(\"Image\");\n        console.log(scope.$id);\n        if (!msg )\n            return;\n        if( msg.topic === \"camera\") {\n            var camera = msg.payload;\n            switch( camera.aspect ) {\n                case \"16:9\": heatmap_y = 360; break;\n                case \"4:3\":  heatmap_y = 480; break;\n                case \"1:1\":  heatmap_y = 640; break;\n            }\n            if( heatmap_area ) {\n                heatmap_area.setOptions({ hide: true });\n                heatmap_area = null;\n            }\n    \n            $(\"#view_\" + scope.$id).css(\"height\", heatmap_y + \"px\");\n            var canvas = document.getElementById(\"canvas_\"+scope.$id);\n            if( canvas )\n                heatmap_context = canvas.getContext(\"2d\");\n            heatmap_image = $(\"#image_\"+scope.$id);\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + camera.image);\n            if( heatmap_area ) {\n                heatmap_area.setOptions({ hide: true });\n                heatmap_area = null;\n            }\n        }\n        \n        if( msg.topic === \"image\") {\n            if( heatmap_area ) {\n                heatmap_area.setOptions({ hide: true });\n                heatmap_area = null;\n            }\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n        }\n\n        if( msg.topic === \"BoundingBox\" && heatmap_context !== null) {\n            var box = msg.payload;\n        \theatmap_context.beginPath();\n        \theatmap_context.strokeStyle = \"#FFFF00\";\n            heatmap_context.rect( box.bx, box.by, box.bw, box.bh ); \n        \theatmap_context.stroke();\n        }\n        \n    });\n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1170,"y":180,"wires":[[]]},{"id":"a4efd046.f8f768","type":"link in","z":"19cd60e1.920d9f","name":"","links":["79fa5799.d2e0d","d6f47b1d.e11c98","a82c81a3.a85c2","25b3a42e.63ebc4"],"x":1055,"y":220,"wires":[["94cce989.a529d8"]]},{"id":"493f91a9.708bd","type":"comment","z":"19cd60e1.920d9f","name":"Overlay","info":"","x":970,"y":220,"wires":[]},{"id":"63afc11.0756ec","type":"ui_ui_control","z":"19cd60e1.920d9f","name":"","events":"change","x":160,"y":80,"wires":[["34bd2ffe.144cf"]]},{"id":"6b874e7.932393","type":"mqtt in","z":"19cd60e1.920d9f","name":"","topic":"class/#","qos":"2","datatype":"json","broker":"daeeea9.63d9798","x":150,"y":760,"wires":[["630e15ce.83e804"]]},{"id":"353f85e6.4ed88a","type":"influxdb out","z":"19cd60e1.920d9f","influxdb":"112c54da.4b5953","name":"","measurement":"objects","precision":"","retentionPolicy":"","x":680,"y":760,"wires":[]},{"id":"630e15ce.83e804","type":"trigger","z":"19cd60e1.920d9f","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":true,"units":"s","reset":"","bytopic":"topic","name":"","x":320,"y":760,"wires":[["39e38fb7.7b39a"]]},{"id":"3eb6bb0f.67291c","type":"ui_button","z":"19cd60e1.920d9f","name":"","group":"ad79ff75.c1dc","order":7,"width":"2","height":"1","passthru":false,"label":"Go","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":320,"wires":[["a8eeccc8.7057c"]]},{"id":"a8eeccc8.7057c","type":"function","z":"19cd60e1.920d9f","name":"Query","func":"camera = flow.get(\"camera\")\ntime = flow.get(\"time\")\nif( !camera || !time)\n    return;    \nmsg.query = 'SELECT * FROM objects WHERE camera=\\'' + camera.agent.client + '\\' AND ' + time\n\nvar clock = flow.get(\"clock\")\nif( clock ) {\n    switch(clock) {\n        case 'morning': msg.query += ' AND \"clock\" > 21600 AND \"clock\" <= 36000'; break;\n        case 'mid': msg.query += ' AND \"clock\" > 36000 AND \"clock\" <= 50400'; break;\n        case 'afternoon': msg.query += ' AND \"clock\" > 50400 AND \"clock\" <= 64800'; break;\n        case 'dinner': msg.query += ' AND \"clock\" > 64800 AND \"clock\" <= 79200'; break;\n        case 'night': msg.query += ' AND (\"clock\" > 79200 OR \"clock\" <= 21600 )'; break;\n    }\n}\n\nvar birth = flow.get(\"birth\");\nif( birth ) {\n    msg.query += ' AND \"bx\" > ' + birth.x1;\n    msg.query += ' AND \"bx\" < ' + birth.x2;\n    msg.query += ' AND \"by\" > ' + birth.y1;\n    msg.query += ' AND \"by\" < ' + birth.y2;\n}\n\nvar death = flow.get(\"death\");\nif( death ) {\n    msg.query += ' AND \"cx\" > ' + death.x1;\n    msg.query += ' AND \"cx\" < ' + death.x2;\n    msg.query += ' AND \"cy\" > ' + death.y1;\n    msg.query += ' AND \"cy\" < ' + death.y2;\n}\n\nvar type = flow.get(\"class\");\nif( type ) {\n    msg.query += ' AND \"' + type + '\" = \\'true\\'';\n}\n\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":320,"wires":[["e6df4e59.5dcae","a52ac392.6637f8"]]},{"id":"e6df4e59.5dcae","type":"influxdb in","z":"19cd60e1.920d9f","influxdb":"112c54da.4b5953","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":470,"y":320,"wires":[["a169d706.a7878","c3170ad.daaf2f8","88bad3bf.6e0b98"]]},{"id":"a169d706.a7878","type":"ui_template","z":"19cd60e1.920d9f","group":"ad79ff75.c1dc","name":"Context - Heatmap","order":12,"width":"1","height":"1","format":"<script>\nvar ctx = null;\nvar canvas = null;\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (!msg)\n            return;\n        if( heatmap_area ) {\n            heatmap_area.setOptions({ hide: true });\n            heatmap_area = null;\n        }\n            \n        if(!heatmap_context)\n            return;\n        heatmap_context.beginPath();\n        heatmap_context.clearRect(0, 0, 1000, 1000 );\n        heatmap_context.stroke();\n            \n        var list = msg.payload;\n\n    \theatmap_context.strokeStyle = \"#FFFFFF\";\n    \theatmap_context.lineWidth = 2;\n    \theatmap_context.beginPath();\n        list.forEach(function(item){\n        \theatmap_context.rect( item.x, item.y,item.w,item.w );\n        })\n    \theatmap_context.stroke();\n    });\n})(scope);\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":990,"y":320,"wires":[[]]},{"id":"c3170ad.daaf2f8","type":"ui_table","z":"19cd60e1.920d9f","group":"ad79ff75.c1dc","name":"","order":11,"width":"4","height":"11","columns":[{"field":"localTime","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":450,"y":360,"wires":[["cfbe2997.18c9b","7b33080d.c13d98"]]},{"id":"cfbe2997.18c9b","type":"function","z":"19cd60e1.920d9f","name":"Query","func":"msg.query = 'SELECT * FROM images WHERE camera=\\'' + msg.payload.camera + '\\' AND birth=' + msg.payload.birth\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":360,"wires":[["f0a55ea4.b05bf"]]},{"id":"f0a55ea4.b05bf","type":"influxdb in","z":"19cd60e1.920d9f","influxdb":"112c54da.4b5953","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":810,"y":360,"wires":[["1d423c21.834f1c"]]},{"id":"79d57dc1.3e5ed4","type":"link in","z":"19cd60e1.920d9f","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8","65d4e1b3.58ef58"],"x":195,"y":360,"wires":[["800359fa.0d399"]]},{"id":"57d74818.c2f3b8","type":"comment","z":"19cd60e1.920d9f","name":"Reset","info":"","x":130,"y":360,"wires":[]},{"id":"800359fa.0d399","type":"function","z":"19cd60e1.920d9f","name":"reset","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["c3170ad.daaf2f8"]]},{"id":"1d423c21.834f1c","type":"function","z":"19cd60e1.920d9f","name":"Image","func":"if(msg.payload.length === 0)\n    return;\nmsg.payload = msg.payload[0].image;    \nmsg.topic = \"image\"\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["a82c81a3.a85c2"]]},{"id":"a82c81a3.a85c2","type":"link out","z":"19cd60e1.920d9f","name":"","links":["3691c0d8.df98e8","a4efd046.f8f768"],"x":1055,"y":360,"wires":[]},{"id":"7b33080d.c13d98","type":"function","z":"19cd60e1.920d9f","name":"BoundingBox","func":"msg.topic = \"BoundingBox\"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["25b3a42e.63ebc4"]]},{"id":"25b3a42e.63ebc4","type":"link out","z":"19cd60e1.920d9f","name":"","links":["3691c0d8.df98e8","a4efd046.f8f768"],"x":735,"y":400,"wires":[]},{"id":"b2f52c8d.8f541","type":"link in","z":"19cd60e1.920d9f","name":"Reset Camera List","links":["6c0d9fb9.953de","b7a2ee4f.8498b8","65d4e1b3.58ef58"],"x":695,"y":280,"wires":[["b755eb93.ac5cf"]]},{"id":"a49b453a.0415a8","type":"comment","z":"19cd60e1.920d9f","name":"Reset","info":"","x":630,"y":280,"wires":[]},{"id":"b755eb93.ac5cf","type":"function","z":"19cd60e1.920d9f","name":"[]","func":"msg.payload = [];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":280,"wires":[["a169d706.a7878"]]},{"id":"ad75d758.17eb","type":"ui_dropdown","z":"19cd60e1.920d9f","name":"Period","label":"","tooltip":"","place":"Period...","group":"ad79ff75.c1dc","order":3,"width":"3","height":"1","passthru":false,"options":[{"label":"Last Hour","value":"time > now() - 1h","type":"str"},{"label":"Last 3 hours","value":"time > now() - 3h","type":"str"},{"label":"Last 6 Hours","value":"time > now() - 6h","type":"str"},{"label":"Last 12 hours","value":"time > now() - 12h","type":"str"},{"label":"Last 24 hours","value":"time > now() - 1d","type":"str"},{"label":"Last 2 days","value":"time > now() - 2d","type":"str"},{"label":"Last 3 days","value":"time > now() - 3d","type":"str"},{"label":"Last 5 days","value":"time > now() - 5d","type":"str"},{"label":"Last week","value":"time > now() - 1w","type":"str"},{"label":"Last 2 weeks","value":"time > now() - 2w","type":"str"},{"label":"Last 4 weeks","value":"time > now() - 4w","type":"str"}],"payload":"","topic":"","x":330,"y":520,"wires":[["95f61b07.071ad"]]},{"id":"60a9e59.972339c","type":"link in","z":"19cd60e1.920d9f","name":"Reset Camera List","links":["65d4e1b3.58ef58"],"x":235,"y":520,"wires":[["ad75d758.17eb"]]},{"id":"adce81e5.2b1a78","type":"comment","z":"19cd60e1.920d9f","name":"Reset","info":"","x":150,"y":520,"wires":[]},{"id":"95f61b07.071ad","type":"function","z":"19cd60e1.920d9f","name":"Flow Camera","func":"flow.set(\"time\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":520,"wires":[[]]},{"id":"b1b7c20d.5a974","type":"ui_dropdown","z":"19cd60e1.920d9f","name":"Clock","label":"","tooltip":"","place":"Clock...","group":"ad79ff75.c1dc","order":4,"width":"3","height":"1","passthru":false,"options":[{"label":"06:00-10:00","value":"morning","type":"str"},{"label":"10:00-14:00","value":"mid","type":"str"},{"label":"14:00-18:00","value":"afternoon","type":"str"},{"label":"18:00-22:00","value":"dinner","type":"str"},{"label":"22:00-06:00","value":"night","type":"str"},{"label":"Any time","value":"any","type":"str"}],"payload":"","topic":"","x":330,"y":580,"wires":[["48cb52c.2a010ac"]]},{"id":"a114497d.6d3a1","type":"link in","z":"19cd60e1.920d9f","name":"Reset Camera List","links":["65d4e1b3.58ef58"],"x":235,"y":580,"wires":[["b1b7c20d.5a974"]]},{"id":"e6735dc1.87b9d","type":"comment","z":"19cd60e1.920d9f","name":"Reset","info":"","x":150,"y":580,"wires":[]},{"id":"48cb52c.2a010ac","type":"function","z":"19cd60e1.920d9f","name":"Flow Clock","func":"flow.set(\"clock\",msg.payload);\nif(msg.payload === \"any\")\n    flow.set(\"clock\");\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":580,"wires":[[]]},{"id":"3e4a83ab.589cfc","type":"ui_dropdown","z":"19cd60e1.920d9f","name":"Class","label":"","tooltip":"","place":"Class...","group":"ad79ff75.c1dc","order":4,"width":"3","height":"1","passthru":false,"options":[{"label":"Unclassified","value":"object","type":"str"},{"label":"Human","value":"human","type":"str"},{"label":"Vehicle","value":"vehicle","type":"str"},{"label":"Face","value":"face","type":"str"},{"label":"Any type","value":"any","type":"str"}],"payload":"","topic":"","x":330,"y":640,"wires":[["4d3fd4d2.67140c"]]},{"id":"a44295a5.a69a58","type":"link in","z":"19cd60e1.920d9f","name":"Reset Camera List","links":["65d4e1b3.58ef58"],"x":235,"y":640,"wires":[["3e4a83ab.589cfc"]]},{"id":"41ae7d96.9cef14","type":"comment","z":"19cd60e1.920d9f","name":"Reset","info":"","x":150,"y":640,"wires":[]},{"id":"4d3fd4d2.67140c","type":"function","z":"19cd60e1.920d9f","name":"Flow Class","func":"flow.set(\"class\",msg.payload);\nif(msg.payload === \"any\")\n    flow.set(\"class\");\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":640,"wires":[[]]},{"id":"39e38fb7.7b39a","type":"function","z":"19cd60e1.920d9f","name":"Add","func":"var timestamp = msg.payload.timestamp\nd = new Date(timestamp);\nclock = d.getHours() * 3600;\nclock += d.getMinutes() * 60;\nvar localTime = d.getFullYear() + \"-\";\nlocalTime += ('0' + (d.getMonth() + 1)).substr(-2,2) + \"-\";\nlocalTime += ('0' + d.getDate()   ).substr(-2,2) + \" \";\nlocalTime += ('0' + d.getHours()  ).substr(-2,2) + \":\";\nlocalTime += ('0' + d.getMinutes()).substr(-2,2);\nmsg.precision = \"ms\"\n\nmsg.payload = [\n    {\n        time: timestamp,\n        localTime: localTime,\n        clock: clock,\n        x: msg.payload.x,\n        y: msg.payload.y,\n        w: msg.payload.w,\n        h: msg.payload.h,\n    }, {\n        camera: msg.payload.source,\n        class: msg.payload.class\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":760,"wires":[["353f85e6.4ed88a"]]},{"id":"cfe7efbf.99fdf8","type":"influxdb out","z":"c67be6c.b53d618","influxdb":"112c54da.4b5953","name":"","measurement":"events","precision":"","retentionPolicy":"","x":720,"y":880,"wires":[]},{"id":"a7904840.0ee02","type":"mqtt in","z":"c67be6c.b53d618","name":"","topic":"tracker/#","qos":"2","datatype":"json","broker":"daeeea9.63d9798","x":140,"y":700,"wires":[["b7fe4be5.b61a2","a46c1551.005a98","1971f304.65d035"]]},{"id":"b7fe4be5.b61a2","type":"function","z":"c67be6c.b53d618","name":"Death, Filter & Process","func":"if(msg.payload.phase < 2)\n    return;\n\nif(msg.payload.distance < 50)\n    return;\n\nif(msg.payload.age < 2000)\n    return;\nd = new Date(msg.payload.birth.timestamp);\nclock = d.getHours() * 3600;\nclock += d.getMinutes() * 60;\nvar localTime = d.getFullYear() + \"-\";\nlocalTime += ('0' + (d.getMonth() + 1)).substr(-2,2) + \"-\";\nlocalTime += ('0' + d.getDate()   ).substr(-2,2) + \" \";\nlocalTime += ('0' + d.getHours()  ).substr(-2,2) + \":\";\nlocalTime += ('0' + d.getMinutes()).substr(-2,2);\nmsg.precision = \"ms\"\nmsg.payload = [\n    {\n        time: msg.payload.birth.timestamp,\n        birth: msg.payload.birth.timestamp,\n        localTime: localTime,\n        clock: clock,\n        id: msg.payload.id,\n        x: msg.payload.x,\n        y: msg.payload.y,\n        w: msg.payload.w,\n        h: msg.payload.h,\n        cx: msg.payload.cx,\n        cy: msg.payload.cy,\n        age: msg.payload.age,\n        distance: msg.payload.distance,\n        speed: msg.payload.speed,\n        dx: msg.payload.dx,\n        dy: msg.payload.dy,\n        bx: msg.payload.birth.x,\n        by: msg.payload.birth.y,\n        bw: msg.payload.birth.w,\n        bh: msg.payload.birth.h,\n        bcx: msg.payload.birth.cx,\n        bcy: msg.payload.birth.cy,\n        pause: msg.payload.pause.time,\n        pcx: msg.payload.pause.cx,\n        pcy: msg.payload.pause.cy,\n    }, {\n        camera: msg.payload.source,\n        object: !(msg.payload.class.human | msg.payload.class.vehicle | msg.payload.class.face),\n        human: msg.payload.class.human,\n        vehicle: msg.payload.class.vehicle,\n        face: msg.payload.class.face,\n        horizontal: msg.payload.dy<0?\"up\":\"down\",\n        vertical: msg.payload.dx<0?\"left\":\"right\"\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":880,"wires":[["cfe7efbf.99fdf8"]]},{"id":"6f90e46e.e36404","type":"function","z":"c67be6c.b53d618","name":"Save Image","func":"msg.precision = \"ms\"\nmsg.payload = [\n    {\n        time: msg.tracker.birth.timestamp,\n        birth: msg.tracker.birth.timestamp,\n        image: msg.payload,\n    }, {\n        camera: msg.tracker.source,\n    }\n]\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":820,"wires":[["44a826be.d437b"]]},{"id":"a46c1551.005a98","type":"function","z":"c67be6c.b53d618","name":"Birth: Camera MQTT ID","func":"if(msg.payload.phase !== 0)\n    return;\nmsg.tracker = msg.payload;\n\nmsg.payload = {\n    \"agent.client\": msg.tracker.source\n}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["6f6739c0.7fca78","99851599.1214"]]},{"id":"6f6739c0.7fca78","type":"mongodb2 in","z":"c67be6c.b53d618","service":"_ext_","configNode":"ad7dae2.f228cd","name":"","collection":"cameras","operation":"findOne","x":720,"y":700,"wires":[["217a87fe.69ca68"]]},{"id":"217a87fe.69ca68","type":"function","z":"c67be6c.b53d618","name":"Match?","func":"if( msg.payload !== null )\n    return msg;","outputs":1,"noerr":0,"x":940,"y":700,"wires":[["9246f481.d13b28"]]},{"id":"9246f481.d13b28","type":"function","z":"c67be6c.b53d618","name":"Get Image Capture","func":"if( msg.tracker.phase !== 0)\n    return;\n\nmsg.address = msg.payload.address;\nmsg.payload = '/local/tracker/image?timestamp=' + msg.tracker.birth.timestamp\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["715181ca.f5f4e"]]},{"id":"715181ca.f5f4e","type":"Axis Camera","z":"c67be6c.b53d618","name":"/local/tracker/image?timestamp=xxxx","account":"a2c42f4.361655","address":"","action":"HTTP GET","data":"","format":"base64","x":750,"y":760,"wires":[["9d221c03.caf958","277a77f0.d447e8"]]},{"id":"9d221c03.caf958","type":"function","z":"c67be6c.b53d618","name":"OK","func":"if( msg.error )\n    return;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":760,"wires":[["6f90e46e.e36404"]]},{"id":"44a826be.d437b","type":"influxdb out","z":"c67be6c.b53d618","influxdb":"112c54da.4b5953","name":"","measurement":"images","precision":"","retentionPolicy":"","x":720,"y":820,"wires":[]},{"id":"6244250b.b01af4","type":"debug","z":"6a0f2e67.9f1bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":220,"wires":[]},{"id":"2fe478e6.38be5","type":"debug","z":"6a0f2e67.9f1bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.mqtt","targetType":"msg","x":1370,"y":140,"wires":[]},{"id":"ec3d4f3a.12daa","type":"function","z":"19cd60e1.920d9f","name":"Last 6 hours","func":"msg.query = 'SELECT * FROM objects WHERE time > now() - 6h'\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":820,"wires":[["f6e3179b.10196"]]},{"id":"f6e3179b.10196","type":"influxdb in","z":"19cd60e1.920d9f","influxdb":"112c54da.4b5953","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":530,"y":820,"wires":[["9edcb8a1.461718"]]},{"id":"84395cd2.0f01f8","type":"inject","z":"19cd60e1.920d9f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":820,"wires":[["ec3d4f3a.12daa"]]},{"id":"9edcb8a1.461718","type":"debug","z":"19cd60e1.920d9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":820,"wires":[]},{"id":"a080a4fb.1383a8","type":"inject","z":"19cd60e1.920d9f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":920,"wires":[["44f54741.c1c948"]]},{"id":"44f54741.c1c948","type":"influxdb in","z":"19cd60e1.920d9f","influxdb":"112c54da.4b5953","name":"","query":"DROP MEASUREMENT objects","rawOutput":false,"precision":"","retentionPolicy":"","x":480,"y":920,"wires":[["fd7b9a5c.5cfc5"]]},{"id":"fd7b9a5c.5cfc5","type":"debug","z":"19cd60e1.920d9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":920,"wires":[]},{"id":"88bad3bf.6e0b98","type":"debug","z":"19cd60e1.920d9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":440,"wires":[]},{"id":"a52ac392.6637f8","type":"debug","z":"19cd60e1.920d9f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":440,"wires":[]},{"id":"277a77f0.d447e8","type":"debug","z":"c67be6c.b53d618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1060,"y":820,"wires":[]},{"id":"99851599.1214","type":"debug","z":"c67be6c.b53d618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":980,"wires":[]},{"id":"1971f304.65d035","type":"debug","z":"c67be6c.b53d618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":1020,"wires":[]}]