nodered/flows.json
[{"id":"ce56fe15.a459c","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"95467baf.abbbf8","type":"tab","label":"Admin","disabled":false,"info":""},{"id":"11657096.caf15f","type":"group","z":"95467baf.abbbf8","name":"Database management","style":{"label":true},"nodes":["8083cf4b.64aa78","952a97e5.a7d9f8","b6c45920.ef9ed8","197e5929.541a07","79198084.29a4b","bcfd2599.ac818","de7e4f3f.26c5c","98ef2cf5.00f2e"],"x":54,"y":259,"w":1132,"h":162},{"id":"bcf1968e.45bea","type":"group","z":"ce56fe15.a459c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["db6ad59b.d6d018","c04b5e8e.8e9858","a65ace61.d914d","edc066cf.869fd","4800a47c.b7211c","61f930c.c3978d","44a83aad.021194","d7abd378.73372","c7200394.e5705","89510ec9.450d68","8545f738.d93ad","1b7c1029.86e9b","b38a9088.46dbd8","12d96ba4.f332f4","42f8e422.cfd754","e6606867.50ce48","74d23120.d93b98","7c4321b2.ddcd3","b20592bd.4cfed","dc098687.31c488","88811591.6510c8","de126bd1.29b578","8ab17834.2f6ab"],"x":194,"y":159,"w":812,"h":362},{"id":"888b9944.5c4078","type":"ui_group","name":"Query","tab":"fe8fbd30.e3ade","order":2,"disp":false,"width":"4","collapse":false},{"id":"b4e4c623.fc637","type":"influxdb","hostname":"influx","port":"8086","protocol":"http","database":"log","name":"","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"542c0b66.4e2ca4","type":"ui_group","name":"Image","tab":"fe8fbd30.e3ade","order":4,"disp":false,"width":"13","collapse":false},{"id":"9264c171.0c52b","type":"ui_group","name":"List","tab":"fe8fbd30.e3ade","order":3,"disp":false,"width":"10","collapse":false},{"id":"fe8fbd30.e3ade","type":"ui_tab","name":"Trackers","icon":"dashboard","disabled":false,"hidden":false},{"id":"5d715338.354244","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a196ff59.7a05","type":"mqtt-broker","name":"Broker setting","broker":"smart-baker.cloudmqtt.com","port":"8883","tls":"ebca8800.c2db48","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"97506e4a.652a","type":"ui_group","name":"Settings","tab":"6ffbef5e.e37a78","order":1,"disp":false,"width":"20","collapse":false},{"id":"6ffbef5e.e37a78","type":"ui_tab","name":"Node-Red Settings","icon":"dashboard","disabled":false,"hidden":false},{"id":"ebca8800.c2db48","type":"tls-config","name":"Verify certificate","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"db6ad59b.d6d018","type":"ui_dropdown","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Camera","label":"","tooltip":"","place":"Camera...","group":"888b9944.5c4078","order":2,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"name","x":620,"y":240,"wires":[["c7200394.e5705","8545f738.d93ad"]]},{"id":"b061ad55.731238","type":"link in","z":"ce56fe15.a459c","name":"Reset Camera List","links":["eb92f53c.4018a","b7a2ee4f.8498b8","1f663ce7.5a7133"],"x":115,"y":240,"wires":[["61f930c.c3978d","4800a47c.b7211c","d7abd378.73372","b38a9088.46dbd8","e6606867.50ce48","b20592bd.4cfed","de126bd1.29b578"]]},{"id":"c04b5e8e.8e9858","type":"ui_dropdown","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Time","label":"","tooltip":"","place":"Time","group":"888b9944.5c4078","order":3,"width":"0","height":"0","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":610,"y":280,"wires":[["a65ace61.d914d"]]},{"id":"a65ace61.d914d","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"flow.filter.time","func":"flow.get(\"filter\").time = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":280,"wires":[["ea4ba79b.8a9668"]]},{"id":"2b4a59e2.6223ce","type":"function","z":"ce56fe15.a459c","name":"Query","func":"msg.topic = \"trackers\"\n\nfilter = flow.get(\"filter\");\nif(!filter)\n    return;\nif(!filter.name)\n    return;\nif(!filter.time)\n    return;\n\nmsg.query = 'SELECT id,pause,class,birth,bcx,bcy,bx,\"by\",bw,bh,cx,cy,pauseX,pauseY,localTime,speed,age,distance,device FROM trackers WHERE ';\n\nmsg.query += filter.time;\nmsg.query += filter.name;\n\nif( filter.clock )\n    msg.query += filter.clock;\n\nif( filter.vertical )\n    msg.query += filter.vertical;\n\nif( filter.horizontal )\n    msg.query += filter.horizontal;\n\nif( filter.minDistance )\n    msg.query += filter.minDistance;\n\nif( filter.maxDistance )\n    msg.query += filter.maxDistance;\n\nif( filter.birth )\n    msg.query += filter.birth;\n\nif( filter.death )\n    msg.query += filter.death;\n\n\nvar birth = flow.get(\"birth\");\nif( birth ) {\n    msg.query += ' AND \"bcx\" > ' + birth.x1;\n    msg.query += ' AND \"bcx\" < ' + birth.x2;\n    msg.query += ' AND \"bcy\" > ' + birth.y1;\n    msg.query += ' AND \"bcy\" < ' + birth.y2;\n}\n\nvar death = flow.get(\"death\");\nif( death ) {\n    msg.query += ' AND \"cx\" > ' + death.x1;\n    msg.query += ' AND \"cx\" < ' + death.x2;\n    msg.query += ' AND \"cy\" > ' + death.y1;\n    msg.query += ' AND \"cy\" < ' + death.y2;\n}\n\nvar type = flow.get(\"class\");\nif( type ) {\n    msg.query += ' AND \"' + type + '\" = \\'true\\'';\n}\n\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":230,"y":100,"wires":[["b4bc96d8.e7fe68"]]},{"id":"b4bc96d8.e7fe68","type":"influxdb in","z":"ce56fe15.a459c","influxdb":"b4e4c623.fc637","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"month","x":500,"y":100,"wires":[["c892ec32.d2ba6"]]},{"id":"edc066cf.869fd","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"flow.filter.clock","func":"if( msg.payload === \"any\") {\n    flow.get(\"filter\").clock = null;\n} else {\n    flow.get(\"filter\").clock = msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":320,"wires":[["ea4ba79b.8a9668"]]},{"id":"8f6103b1.21e68","type":"link in","z":"ce56fe15.a459c","name":"Reset Camera List","links":["eb92f53c.4018a","b7a2ee4f.8498b8","1f663ce7.5a7133"],"x":135,"y":860,"wires":[["1b52cdfd.2ddcd2"]]},{"id":"1b52cdfd.2ddcd2","type":"function","z":"ce56fe15.a459c","name":"reset","func":"msg.payload = \"\"\nmsg.topic = \"reset\"\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":860,"wires":[["648cde0d.ac15c8"]]},{"id":"648cde0d.ac15c8","type":"ui_template","z":"ce56fe15.a459c","group":"542c0b66.4e2ca4","name":"Image","order":4,"width":"13","height":"12","format":"<link rel=\"stylesheet\" href=\"/css/imgareaselect-default.css\">\n<script src=\"/js/jquery.imgareaselect.js\"></script>\n\n<div id=\"{{'view_'+$id}}\" style=\"width:640px; height:360px\">\n    <div id=\"{{'frame_'+$id}}\" style=\"width:100%; height:100%; position:relative\">\n        <img id=\"{{'image_'+$id}}\" class=\"card-img-top\" src=\"\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\">\n        <canvas id=\"{{'canvas_'+$id}}\" width=\"1000\" height=\"1000\" style=\"width:100%; height:100%; position:absolute; top:0px; left:0px;\"></canvas>\n    </div>\n</div>\n\n<script>\nvar image_context = null;\nvar image_width = 640;\nvar image_height = 360;\n\nvar selection_area = null;\nvar selection_birth = {x1: 0,y1: 0,x2: 1000,y2: 1000}\nvar selection_death = {x1: 0,y1: 0,x2: 1000,y2: 1000}\nvar current_selection = null;\nvar current_selection_name = null;\n\n\n(function(scope) {\n    scope.$watch('msg', function(msg) {\n        if( !msg || !msg.topic ||  typeof msg.topic === undefined )\n            return;\n        console.log(msg.topic);\n        if (!msg )\n            return;\n            \n        if( msg.topic === \"camera\") {\n            if( !msg.payload.hasOwnProperty(\"width\") || !msg.payload.hasOwnProperty(\"base64\") )\n                return;\n            if( selection_area ) {\n                selection_area.setOptions({ hide: true });\n                selection_area = null;\n            }\n            $(\"#view_\" + scope.$id).css(\"height\", msg.payload.height + \"px\");\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload.base64);\n            var canvas = document.getElementById(\"canvas_\"+scope.$id);\n            if( canvas )\n                image_context = canvas.getContext(\"2d\");\n            if(image_context) {\n                image_context.beginPath();\n                image_context.clearRect(0, 0, 1000, 1000 );\n                image_context.stroke();\n            }\n            return;\n        }\n        \n        if( msg.topic === \"image\") {\n            if( selection_area ) {\n                selection_area.setOptions({ hide: true });\n                selection_area = null;\n            }\n            $(\"#image_\"+scope.$id).attr(\"src\", 'data:image/jpeg;base64, ' + msg.payload);\n            return;\n        }\n\n        if( msg.topic === \"BoundingBox\" && image_context !== null) {\n            image_context.beginPath();\n            image_context.clearRect(0, 0, 1000, 1000 );\n            image_context.stroke();\n            \n            var tracker = msg.payload;\n        \timage_context.beginPath();\n        \timage_context.strokeStyle = \"#FFFF00\";\n        \timage_context.lineWidth = 4;\n            image_context.rect( tracker.bx, tracker.by, tracker.bw, tracker.bh );\n        \timage_context.moveTo(tracker.bcx, tracker.bcy );\n    \t    image_context.arc( tracker.bcx, tracker.bcy, 6, 0, 2 * Math.PI);\n        \timage_context.lineTo(tracker.pauseX, tracker.pauseY );\n        \timage_context.lineTo(tracker.cx, tracker.cy );\n        \timage_context.stroke();\n        }\n        \n        if( msg.topic === \"trackers\" ) {\n            if(!image_context)\n                return;\n            image_context.beginPath();\n            image_context.clearRect(0, 0, 1000, 1000 );\n            image_context.stroke();\n            \n            var list = msg.payload;\n    \n        \timage_context.strokeStyle = \"#FFFFFF\";\n        \timage_context.lineWidth = 3;\n        \timage_context.beginPath();\n            list.forEach(function(item){\n            \timage_context.moveTo(item.bcx, item.bcy );\n        \t    image_context.arc( item.bcx, item.bcy, 6, 0, 2 * Math.PI);\n            \timage_context.lineTo(item.pauseX, item.pauseY );\n            \timage_context.lineTo(item.cx, item.cy );\n            })\n        \timage_context.stroke();\n\t\t\treturn;\n        }\n        \n        if( msg.topic === \"reset\" ) {\n            if( selection_area ) {\n                selection_area.setOptions({ hide: true });\n                selection_area = null;\n            }\n            if(!image_context)\n                return;\n            image_context.beginPath();\n            image_context.clearRect(0, 0, 1000, 1000 );\n            image_context.stroke();\n            $(\"#image_\"+scope.$id).attr(\"src\", \"\");\n\t\t\treturn;\n        }\n\n        if( msg.topic === \"hide\" ) {\n            if( selection_area ) {\n                selection_area.setOptions({ hide: true });\n                selection_area = null;\n            }\n\t\t\treturn;\n        }\n\t\t\n\t\tif( msg.topic === \"birth\" || msg.topic === \"death\" ) {\n\t\t\tif( selection_area ) {\n\t\t\t\tselection_area.setOptions({ hide: true });\n\t\t\t\tselection_area = null;\n\t\t\t}\n\t\t\tcurrent_selection = null;\n\t\t\tif( msg.topic === \"birth\")\n\t\t\t\tcurrent_selection = selection_birth\n\t\t\tif( msg.topic === \"death\")\n\t\t\t\tcurrent_selection = selection_death\n\t\t\tif( current_selection === null )\n\t\t\t\treturn;\n\t\t\tcurrent_selection_name = msg.topic;\n//\t\t\tselection_area = heatmap_image.imgAreaSelect( {\n\t\t\tselection_area = $(\"#image_\"+scope.$id).imgAreaSelect( {\n\t\t\t\tx1: parseInt(current_selection.x1 / 1000 * image_width),\n\t\t\t\tx2: parseInt(current_selection.x2 / 1000 * image_width),\n\t\t\t\ty1: parseInt(current_selection.y1 / 1000 * image_height),\n\t\t\t\ty2: parseInt(current_selection.y2 / 1000 * image_height),\n\t\t\t\tshow: true, hide:false, minHeight: 5, minWidth: 5, handles: true, movable: true, resizable: true, instance:true,\n\t\t\t\tonSelectEnd: function( image, area ) {\n\t\t\t\t\tif( current_selection === null )\n\t\t\t\t\t\treturn;\n\t\t\t\t\tcurrent_selection.x1 = parseInt((area.x1/image_width) * 1000);\n\t\t\t\t\tcurrent_selection.x2 = parseInt((area.x2/image_width) * 1000);\n\t\t\t\t\tcurrent_selection.y1 = parseInt((area.y1/image_height) * 1000);\n\t\t\t\t\tcurrent_selection.y2 = parseInt((area.y2/image_height) * 1000);\n\t\t\t\t\tscope.send({\n\t\t\t\t\t\ttopic: current_selection_name,\n\t\t\t\t\t\tpayload: current_selection\n\t\t\t\t\t});\n\t\t\t\t}\n\t\t\t});\n\t\t}\n\t\t\n    });\n})(scope);\n</script>        \n","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"local","x":510,"y":820,"wires":[["c65ee7a5.f92f78"]]},{"id":"4800a47c.b7211c","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Time options","func":"d = new Date();\nd.setHours(0);\nd.setMinutes(0);\nday = 24 * 3600 * 1000;\nday0 = d.getTime();\nday1 = day0 - day;\nday2 = day1 - day;\nday3 = day2 - day;\n\nmsg.options = [\n    { \"Last hour\": \"time> now()-1h\" },\n    { \"Last 3 hours\": \"time > now()-3h\" },\n    { \"Last 6 hours\": \"time > now()-6h\" },\n    { \"Last 12 hours\": \"time > now()-12h\" },\n    { \"Last 24 hours\": \"time > now()-1d\" },\n    { \"Last 2 days\": \"time > now()-2d\" },\n    { \"Last 3 days\": \"time > now()-3d\" },\n    { \"Last week\": \"time > now()-1w\" },\n    { \"Last 2 weeks\": \"time > now()-2w\" },\n    { \"Last 4 weeks\": \"time > now()-4w\" },\n    { \"Today\": '\"timestamp\" > ' + day0},\n    { \"Yesterday\": '\"timestamp\" > ' + day1 + ' AND \"timestamp\" < ' + day0},\n    { \"2 days ago\": '\"timestamp\" > ' + day2 + ' AND \"timestamp\" < ' + day1},\n    { \"3 days ago\": '\"timestamp\" > ' + day3 + ' AND timestamp\" < ' + day2}\n]\nmsg.payload = \"time > now()-6h\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":280,"wires":[["c04b5e8e.8e9858"]]},{"id":"ea4ba79b.8a9668","type":"link out","z":"ce56fe15.a459c","name":"","links":["adbd3caf.e448d","5e32de6e.7b66f8","1ca23958.1577ff","37177028.6f7978","eff29e2a.5ad138"],"x":1075,"y":360,"wires":[]},{"id":"ee7e31f9.64924","type":"ui_button","z":"ce56fe15.a459c","name":"","group":"542c0b66.4e2ca4","order":1,"width":"3","height":"1","passthru":false,"label":"Birth","tooltip":"","color":"","bgcolor":"","icon":"tab_unselected","payload":"","payloadType":"str","topic":"birth","x":170,"y":980,"wires":[["54ffce01.f5bc68"]]},{"id":"b660b633.21036","type":"ui_button","z":"ce56fe15.a459c","name":"","group":"542c0b66.4e2ca4","order":2,"width":"3","height":"1","passthru":false,"label":"Death","tooltip":"","color":"","bgcolor":"","icon":"tab_unselected","payload":"","payloadType":"str","topic":"death","x":170,"y":1020,"wires":[["54ffce01.f5bc68"]]},{"id":"c65ee7a5.f92f78","type":"function","z":"ce56fe15.a459c","name":"flow.birht & flow.death","func":"if( msg.topic === \"birth\") {\n    area = ' AND \"bcx\" > ' + msg.payload.x1;\n    area += ' AND \"bcx\" < ' + msg.payload.x2;\n    area += ' AND \"bcy\" > ' + msg.payload.y1;\n    area += ' AND \"bcy\" < ' + msg.payload.y2;\n    flow.get(\"filter\").birth = area;\n    return msg;\n}\n\nif( msg.topic === \"death\") {\n    area = ' AND \"cx\" > ' + msg.payload.x1;\n    area += ' AND \"cx\" < ' + msg.payload.x2;\n    area += ' AND \"cy\" > ' + msg.payload.y1;\n    area += ' AND \"cy\" < ' + msg.payload.y2;\n    flow.get(\"filter\").death = area;\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":820,"wires":[["e693f04b.f7a358"]]},{"id":"22e1574f.ab5e1","type":"ui_button","z":"ce56fe15.a459c","name":"Save","group":"542c0b66.4e2ca4","order":3,"width":"3","height":"1","passthru":false,"label":"Set","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"death","x":170,"y":1060,"wires":[["32692bf5.878bfc"]]},{"id":"f14ed6d4.c5e06","type":"ui_template","z":"ce56fe15.a459c","group":"9264c171.0c52b","name":"Hits","order":1,"width":"2","height":"1","format":"<h3>Hits: {{msg.payload}}</h3>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":430,"y":680,"wires":[[]]},{"id":"24d0c2ca.ebd6ae","type":"function","z":"ce56fe15.a459c","name":"Hits","func":"msg.payload = msg.payload.length\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":680,"wires":[["f14ed6d4.c5e06"]]},{"id":"7f617320.354564","type":"function","z":"ce56fe15.a459c","name":"Reset","func":"msg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":720,"wires":[["f14ed6d4.c5e06"]]},{"id":"f39eb9a9.015da","type":"link in","z":"ce56fe15.a459c","name":"","links":["eb92f53c.4018a","1f663ce7.5a7133"],"x":155,"y":720,"wires":[["7f617320.354564"]]},{"id":"61f930c.c3978d","type":"influxdb in","z":"ce56fe15.a459c","g":"bcf1968e.45bea","influxdb":"b4e4c623.fc637","name":"Get Devices","query":"SHOW TAG VALUES FROM trackers WITH KEY = \"name\"","rawOutput":false,"precision":"","retentionPolicy":"","x":290,"y":240,"wires":[["44a83aad.021194"]]},{"id":"44a83aad.021194","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"List","func":"var list = []\nmsg.payload.forEach( function(item){\n    var option = {};\n    option[item.value] = item.value\n    list.push(option);\n});\n\nmsg.options = list;\nmsg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":240,"wires":[["db6ad59b.d6d018"]]},{"id":"c892ec32.d2ba6","type":"link out","z":"ce56fe15.a459c","name":"","links":["32a31ef3.07816a","8fca727.6ef951","3dc1d8ff.cf96f","1ca23958.1577ff","eff29e2a.5ad138","56bf606a.f7949","1ed6b72c.571669","d0b51ef2.e02aa"],"x":675,"y":100,"wires":[]},{"id":"3dc1d8ff.cf96f","type":"link in","z":"ce56fe15.a459c","name":"","links":["c892ec32.d2ba6","26575967.7619a6"],"x":155,"y":680,"wires":[["24d0c2ca.ebd6ae"]]},{"id":"11f1ab6a.1c8d3d","type":"function","z":"ce56fe15.a459c","name":"reset","func":"msg.payload = []\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":640,"wires":[["978dd3c6.2bb31"]]},{"id":"5731ddb6.91fc44","type":"link in","z":"ce56fe15.a459c","name":"Reset Camera List","links":["eb92f53c.4018a","b7a2ee4f.8498b8","1f663ce7.5a7133"],"x":155,"y":640,"wires":[["11f1ab6a.1c8d3d"]]},{"id":"978dd3c6.2bb31","type":"ui_table","z":"ce56fe15.a459c","group":"9264c171.0c52b","name":"","order":2,"width":"10","height":"11","columns":[{"field":"localTime","title":"Time","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"age","title":"Age (s)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distance","title":"Distance (%)","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"speed","title":"Speed","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":1,"cts":true,"x":430,"y":600,"wires":[["14a8c885.81443f","59ab1dfb.9cfe34"]]},{"id":"14a8c885.81443f","type":"function","z":"ce56fe15.a459c","name":"Augmentation","func":"msg.topic = \"BoundingBox\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":680,"wires":[["ac259607.2089c8"]]},{"id":"59ab1dfb.9cfe34","type":"function","z":"ce56fe15.a459c","name":"Get Image","func":"msg.query = 'SELECT image ' +\n            'FROM \"month\".\"trackers\" ' + \n            'WHERE device=\\'' + msg.payload.device + '\\' AND birth=' + msg.payload.birth;\n\nmsg.payload = msg.query;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":600,"wires":[["d803c049.221a18"]]},{"id":"8fca727.6ef951","type":"link in","z":"ce56fe15.a459c","name":"","links":["c892ec32.d2ba6","26575967.7619a6"],"x":155,"y":600,"wires":[["978dd3c6.2bb31"]]},{"id":"ac259607.2089c8","type":"link out","z":"ce56fe15.a459c","name":"","links":["7a284937.947898","a4efd046.f8f768","eff29e2a.5ad138","d0b51ef2.e02aa"],"x":745,"y":680,"wires":[]},{"id":"d803c049.221a18","type":"influxdb in","z":"ce56fe15.a459c","influxdb":"b4e4c623.fc637","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":800,"y":600,"wires":[["3b213866.915888"]]},{"id":"3b213866.915888","type":"function","z":"ce56fe15.a459c","name":"Image","func":"if(!msg.payload || msg.payload.length === 0)\n    return;\n\nif( msg.payload[0].image.length === 0 )\n    return;\n\nmsg.payload = msg.payload[0].image;\nmsg.topic = \"image\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":600,"wires":[["892b858b.6c2448"]]},{"id":"892b858b.6c2448","type":"link out","z":"ce56fe15.a459c","name":"","links":["a4efd046.f8f768","eff29e2a.5ad138","d0b51ef2.e02aa"],"x":1115,"y":600,"wires":[]},{"id":"d7abd378.73372","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Clock options","func":"msg.options = [\n    {\"Any time of day\":\"any\"},\n    {\"06:00-10:00\":' AND \"clock\" > 21600 AND \"clock\" <= 36000' },\n    {\"10:00-14:00\":' AND \"clock\" > 36000 AND \"clock\" <= 50400'},\n    {\"14:00-18:00\":' AND \"clock\" > 50400 AND \"clock\" <= 64800' },\n    {\"18:00-22:00\":' AND \"clock\" > 64800 AND \"clock\" <= 79200' },\n    {\"22:00-06:00\":' AND (\"clock\" > 79200 OR \"clock\" <= 21600 )'}\n]\nflow.set(\"clock\",\"any\")\nmsg.payload = \"any\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":320,"wires":[["1b7c1029.86e9b"]]},{"id":"5e32de6e.7b66f8","type":"link in","z":"ce56fe15.a459c","name":"","links":["ea4ba79b.8a9668","e693f04b.f7a358","32692bf5.878bfc"],"x":115,"y":100,"wires":[["2b4a59e2.6223ce"]]},{"id":"4bf335bc.0375d4","type":"ui_button","z":"ce56fe15.a459c","name":"Reset","group":"888b9944.5c4078","order":1,"width":"0","height":"0","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"death","x":150,"y":40,"wires":[["d6f9febe.213a18"]]},{"id":"1f663ce7.5a7133","type":"link out","z":"ce56fe15.a459c","name":"","links":["b061ad55.731238","b129487a.7da2d","ab7e0d76.ee414","4f10b834.da7c08","5731ddb6.91fc44","8f6103b1.21e68","f39eb9a9.015da","37177028.6f7978","fd05a43b.eb6f68","bfec7358.8a64"],"x":575,"y":40,"wires":[]},{"id":"b4e7c4d4.56cd9","type":"function","z":"ce56fe15.a459c","name":"Reset","func":"flow.set(\"birth\")\nflow.set(\"death\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":40,"wires":[["1f663ce7.5a7133"]]},{"id":"39e75bc9.f9479c","type":"function","z":"ce56fe15.a459c","name":"Trackers","func":"msg.topic = \"trackers\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":940,"wires":[["648cde0d.ac15c8"]]},{"id":"56bf606a.f7949","type":"link in","z":"ce56fe15.a459c","name":"","links":["c892ec32.d2ba6","26575967.7619a6"],"x":135,"y":940,"wires":[["39e75bc9.f9479c"]]},{"id":"d0b51ef2.e02aa","type":"link in","z":"ce56fe15.a459c","name":"","links":["892b858b.6c2448","ac259607.2089c8","c892ec32.d2ba6","6ee47c52.9d6224","26575967.7619a6","aab6b2a3.2b1448","54ffce01.f5bc68"],"x":135,"y":820,"wires":[["648cde0d.ac15c8"]]},{"id":"c7200394.e5705","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Camera","func":"let images = global.get(\"images\");\nif(!images || !images.hasOwnProperty(msg.payload) )\n    return;\n\nmsg.payload = images[msg.payload];\nmsg.topic = \"camera\";\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":200,"wires":[["6ee47c52.9d6224"]]},{"id":"6ee47c52.9d6224","type":"link out","z":"ce56fe15.a459c","name":"","links":["a4efd046.f8f768","eff29e2a.5ad138","d0b51ef2.e02aa"],"x":1155,"y":160,"wires":[]},{"id":"89510ec9.450d68","type":"ui_dropdown","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Vertical","label":"","tooltip":"","place":"","group":"888b9944.5c4078","order":5,"width":"0","height":"0","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":620,"y":360,"wires":[["12d96ba4.f332f4"]]},{"id":"d6f9febe.213a18","type":"change","z":"ce56fe15.a459c","name":"","rules":[{"t":"set","p":"filter","pt":"flow","to":"{\"name\":null,\"time\":\"time() > now()-1d\",\"clock\":null,\"vertical\":null,\"horizontal\":null,\"birth\":null,\"death\":null,\"minDistance\":null,\"maxDistance\":null}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":40,"wires":[["b4e7c4d4.56cd9"]]},{"id":"8545f738.d93ad","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"flow.filter.name","func":"if( msg.payload === null || msg.payload.length === 0)\n    flow.get(\"filter\").name = null;\nelse     \n    flow.get(\"filter\").name = ' AND \"name\" = \\'' + msg.payload + '\\''\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":240,"wires":[["ea4ba79b.8a9668"]]},{"id":"1b7c1029.86e9b","type":"ui_dropdown","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Clock","label":"","tooltip":"","place":"Clock...","group":"888b9944.5c4078","order":4,"width":"0","height":"0","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":610,"y":320,"wires":[["edc066cf.869fd"]]},{"id":"b38a9088.46dbd8","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Vertical options","func":"msg.options = [\n    {\"Up and Down\":\"any\"},\n    {\"Only up\":' AND \"dy\" < 0' },\n    {\"Only down\":' AND \"dy\" > 0' }\n]\nmsg.payload = \"any\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":360,"wires":[["89510ec9.450d68"]]},{"id":"12d96ba4.f332f4","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"flow.filter.vertical","func":"if( msg.payload === \"any\") {\n    flow.get(\"filter\").vertical = null;\n} else {\n    flow.get(\"filter\").vertical = msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":360,"wires":[["ea4ba79b.8a9668"]]},{"id":"42f8e422.cfd754","type":"ui_dropdown","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Horizontal","label":"","tooltip":"","place":"","group":"888b9944.5c4078","order":6,"width":"0","height":"0","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":620,"y":400,"wires":[["74d23120.d93b98"]]},{"id":"e6606867.50ce48","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Horizontal options","func":"msg.options = [\n    {\"Left & Right\":\"any\"},\n    {\"Only left\":' AND \"dx\" < 0' },\n    {\"Only right\":' AND \"dx\" > 0' }\n]\nmsg.payload = \"any\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":400,"wires":[["42f8e422.cfd754"]]},{"id":"74d23120.d93b98","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"flow.filter.horizontal","func":"if( msg.payload === \"any\") {\n    flow.get(\"filter\").horizontal = null;\n} else {\n    flow.get(\"filter\").horizontal = msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":400,"wires":[["ea4ba79b.8a9668"]]},{"id":"7c4321b2.ddcd3","type":"ui_dropdown","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Min distance","label":"","tooltip":"","place":"","group":"888b9944.5c4078","order":7,"width":"0","height":"0","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":630,"y":440,"wires":[["dc098687.31c488"]]},{"id":"b20592bd.4cfed","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Min. distance","func":"msg.options = [\n    {\"Minumim distance\":\"any\"},\n    {\"At least 10%\":' AND \"distance\" > 10' },\n    {\"At least 20%\":' AND \"distance\" > 20' },\n    {\"At least 30%\":' AND \"distance\" > 30' },\n    {\"At least 40%\":' AND \"distance\" > 40' },\n    {\"At least 50%\":' AND \"distance\" > 50' },\n    {\"At least 60%\":' AND \"distance\" > 60' },\n    {\"At least 70%\":' AND \"distance\" > 70' },\n    {\"At least 80%\":' AND \"distance\" > 80' },\n    {\"At least 90%\":' AND \"distance\" > 90' }\n]\nmsg.payload = \"any\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":440,"wires":[["7c4321b2.ddcd3"]]},{"id":"dc098687.31c488","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"flow.filter.minDistance","func":"if( msg.payload === \"any\") {\n    flow.get(\"filter\").minDistance = null;\n} else {\n    flow.get(\"filter\").minDistance = msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":440,"wires":[["ea4ba79b.8a9668"]]},{"id":"88811591.6510c8","type":"ui_dropdown","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Max distance","label":"","tooltip":"","place":"","group":"888b9944.5c4078","order":8,"width":"0","height":"0","passthru":true,"multiple":false,"options":[],"payload":"","topic":"","x":630,"y":480,"wires":[["8ab17834.2f6ab"]]},{"id":"de126bd1.29b578","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"Max. distance","func":"msg.options = [\n    {\"Maximum distance\":\"any\"},\n    {\"Less than 10%\":' AND \"distance\" < 10' },\n    {\"Less than 20%\":' AND \"distance\" < 20' },\n    {\"Less than 30%\":' AND \"distance\" < 30' },\n    {\"Less than 40%\":' AND \"distance\" < 40' },\n    {\"Less than 50%\":' AND \"distance\" < 50' },\n    {\"Less than 60%\":' AND \"distance\" < 60' },\n    {\"Less than 70%\":' AND \"distance\" < 70' },\n    {\"Less than 80%\":' AND \"distance\" < 80' },\n    {\"Less than 90%\":' AND \"distance\" < 90' }\n]\nmsg.payload = \"any\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":480,"wires":[["88811591.6510c8"]]},{"id":"8ab17834.2f6ab","type":"function","z":"ce56fe15.a459c","g":"bcf1968e.45bea","name":"flow.filter.maxDistance","func":"if( msg.payload === \"any\") {\n    flow.get(\"filter\").maxDistance = null;\n} else {\n    flow.get(\"filter\").maxDistance = msg.payload;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":480,"wires":[["ea4ba79b.8a9668"]]},{"id":"e693f04b.f7a358","type":"link out","z":"ce56fe15.a459c","name":"","links":["adbd3caf.e448d","5e32de6e.7b66f8","1ca23958.1577ff","37177028.6f7978","eff29e2a.5ad138"],"x":975,"y":820,"wires":[]},{"id":"eecf066d.7f128","type":"influxdb out","z":"95467baf.abbbf8","influxdb":"b4e4c623.fc637","name":"","measurement":"trackers","precision":"ms","retentionPolicy":"month","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":940,"y":80,"wires":[]},{"id":"8229990a.fb299","type":"function","z":"95467baf.abbbf8","name":"FIlter & Process","func":"if(!msg.payload.hasOwnProperty(\"image\") || msg.payload.image === null)\n    msg.payload.image = \"\";\n\nd = new Date(msg.payload.birth);\nmsg.payload.clock = d.getHours() * 3600 + d.getMinutes() * 60 + d.getSeconds();\nmsg.payload.localTime = d.getFullYear()+\"-\"+\n                        ('0'+(d.getMonth()+1)).substr(-2,2)+\"-\"+\n                        ('0'+d.getDate()).substr(-2,2) + \" \" +\n                        ('0'+d.getHours()).substr(-2,2)+\":\"+\n                        ('0'+d.getMinutes()).substr(-2,2);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":80,"wires":[["5d8d32c5.9aa4dc"]]},{"id":"580941ce.3ce64","type":"mqtt in","z":"95467baf.abbbf8","name":"","topic":"tracker/#","qos":"2","datatype":"json","broker":"a196ff59.7a05","x":140,"y":80,"wires":[["8a1cca7f.78d91"]],"info":"# Expected Payload\n{\n    device: Device Serial number,\n    timestamp: ms resolution,\n    plate: String,\n    localTime: \"2020-01-01 12:23:34\",\n    clock: Seconds since midnight,\n    image: null || base64\n}"},{"id":"5d8d32c5.9aa4dc","type":"function","z":"95467baf.abbbf8","name":"Insert","func":"var values = msg.payload;\n\nvar tags = {\n    name: msg.payload.name || msg.payload.device,\n    device: msg.payload.device,\n}\n\ndelete values.device;\ndelete values.name;\ndelete values.client;\nvalues.time = msg.payload.birth;\n\nmsg.payload = [\n    values,\n    tags\n]\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":80,"wires":[["eecf066d.7f128"]]},{"id":"8083cf4b.64aa78","type":"influxdb in","z":"95467baf.abbbf8","g":"11657096.caf15f","influxdb":"b4e4c623.fc637","name":"CREATE DATABASE log","query":"CREATE DATABASE log","rawOutput":false,"precision":"","retentionPolicy":"","org":"","x":450,"y":300,"wires":[["b6c45920.ef9ed8"]]},{"id":"952a97e5.a7d9f8","type":"inject","z":"95467baf.abbbf8","g":"11657096.caf15f","name":"Create database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":300,"wires":[["8083cf4b.64aa78"]]},{"id":"b6c45920.ef9ed8","type":"influxdb in","z":"95467baf.abbbf8","g":"11657096.caf15f","influxdb":"b4e4c623.fc637","name":"1 month retention policy","query":"CREATE RETENTION POLICY \"month\" ON log DURATION 4w REPLICATION 1 DEFAULT","rawOutput":false,"precision":"","retentionPolicy":"","org":"","x":770,"y":300,"wires":[["98ef2cf5.00f2e"]]},{"id":"197e5929.541a07","type":"influxdb in","z":"95467baf.abbbf8","g":"11657096.caf15f","influxdb":"b4e4c623.fc637","name":"","query":"SELECT * FROM trackers WHERE time >= now() - 6h","rawOutput":false,"precision":"","retentionPolicy":"month","x":610,"y":340,"wires":[["98ef2cf5.00f2e"]]},{"id":"79198084.29a4b","type":"inject","z":"95467baf.abbbf8","g":"11657096.caf15f","name":"Query database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":340,"wires":[["197e5929.541a07"]]},{"id":"bcfd2599.ac818","type":"influxdb in","z":"95467baf.abbbf8","g":"11657096.caf15f","influxdb":"b4e4c623.fc637","name":"","query":"DROP MEASUREMENT trackers","rawOutput":false,"precision":"","retentionPolicy":"","x":680,"y":380,"wires":[["98ef2cf5.00f2e"]]},{"id":"de7e4f3f.26c5c","type":"inject","z":"95467baf.abbbf8","g":"11657096.caf15f","name":"FLUSH database","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["bcfd2599.ac818"]]},{"id":"98ef2cf5.00f2e","type":"debug","z":"95467baf.abbbf8","g":"11657096.caf15f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":300,"wires":[]},{"id":"48a6e67f.02d8c","type":"function","z":"95467baf.abbbf8","name":"global.image","func":"if( msg.payload.phase !== 2 )\n    return;\n    \nif( !msg.payload.hasOwnProperty(\"image\") || msg.payload.image === null || msg.payload.image.length === 0 )\n    return;\nimages = global.get(\"images\");\nif(!images) {\n    images = {};\n    global.set(\"images\",images);\n}\nname = msg.payload.name || msg.payload.device;\nnode.warn(name);\n\nwidth = 640;\nheight = 360;\n\nif( msg.payload.hasOwnProperty(\"aspect\")) {\n    if( msg.payload.aspect === \"1:1\") {\n        width = 640;\n        height = 640;\n    }\n    if( msg.payload.aspect === \"4:3\") {\n        width = 640;\n        height = 480;\n    }\n}\n\nif( msg.payload.hasOwnProperty(\"resolution\")) {\n    width = parseInt(msg.payload.resolution.split(\"x\")[0]);\n    height = parseInt(msg.payload.resolution.split(\"x\")[1]);\n}\n\nimages[name] = {\n    base64: msg.payload.image,\n    width: width,\n    height: height\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":120,"wires":[[]]},{"id":"8a1cca7f.78d91","type":"function","z":"95467baf.abbbf8","name":"Only phase 2 objects","func":"if( msg.payload.phase === 2)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["8229990a.fb299","48a6e67f.02d8c"]]},{"id":"30796705.5e4c","type":"mqtt in","z":"95467baf.abbbf8","name":"","topic":"tracker","qos":"2","datatype":"json","broker":"a196ff59.7a05","x":130,"y":120,"wires":[["8a1cca7f.78d91"]],"info":"# Expected Payload\n{\n    device: Device Serial number,\n    timestamp: ms resolution,\n    plate: String,\n    localTime: \"2020-01-01 12:23:34\",\n    clock: Seconds since midnight,\n    image: null || base64\n}"},{"id":"dba39ab4.0bfc28","type":"mqtt in","z":"95467baf.abbbf8","name":"","topic":"image/#","qos":"2","datatype":"auto","broker":"a196ff59.7a05","x":340,"y":120,"wires":[["48a6e67f.02d8c"]]},{"id":"32692bf5.878bfc","type":"link out","z":"ce56fe15.a459c","name":"","links":["bfec7358.8a64","5e32de6e.7b66f8"],"x":375,"y":1060,"wires":[]},{"id":"bfec7358.8a64","type":"link in","z":"ce56fe15.a459c","name":"Reset Camera List","links":["eb92f53c.4018a","b7a2ee4f.8498b8","1f663ce7.5a7133","32692bf5.878bfc"],"x":135,"y":900,"wires":[["4729b1a3.2eba8"]]},{"id":"4729b1a3.2eba8","type":"function","z":"ce56fe15.a459c","name":"Hide selection","func":"msg.topic = \"hide\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":900,"wires":[["648cde0d.ac15c8"]]},{"id":"54ffce01.f5bc68","type":"link out","z":"ce56fe15.a459c","name":"","links":["d0b51ef2.e02aa"],"x":375,"y":980,"wires":[]}]